body {
    font-family: 'Public Sans', sans-serif;
    padding-top: 75px;
}

a {
    text-decoration: none;
    color: #2E2E2E;
}

a:hover {
    text-decoration: underline;
    color: #2E2E2E;
}

p {
    margin: 1vh 0 1vh 0;
}

h2 {
    font-size: 30px;
    color: #595959;
    margin: 0;
}

h3 {
    font-style: italic;
    font-size: 18px;
    color: #595959;
    margin: 1vh 0 1vh 0;
}

h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #595959;
}

h5 {
    font-size: 16px;
    margin: 1vh 0 1vh 0;
    color: #2E2E2E;
}

.home .circles-container,
.home .cards-container,
.home .ads-container,
footer {
    margin-top: 5vh;
}

.home .two-line-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
}

.home .header-logo {
    max-height: 50px;
}

.home .header-container {
    background-color: #efefef;
    min-height: 75px;
}

.home .search-bar-container {
    width: 100%;
    height: 40px;
    background: #BABABA;
    border-radius: 30px;
    padding: 5px 20px 5px 5px;
}

.home .search-bar-btn {
    color: #2E2E2E;
    font-size: 20px;
    margin: 0 0.75rem 0 1rem;
}

.home .search-bar-input {
    padding-left: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 100%;
}

.home .header-icons{
    font-size: 40px;
    color: #2E2E2E;
}

.home .circle {
    font-size: 15px;
    text-align: center;
}

.home .circle:hover {
    transform: translateY(-20px);
    box-shadow:  #00000033;
}

.home .circle-img {
    max-width: 250px;
    max-height: 250px;
}

.home .circle-img img {
    border-radius: 50%;
}

.home .swiper1 {
    margin-top: 5vh;
    max-width: 1200px;
}

.home .swiper1 .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: rgba(239, 239, 239, 0.75);
}

.home .swiper1 .swiper-pagination-bullet-active {
    background: #8083ff;
}

.home .swiper1-nav-btns {
    color: #efefef;
}

.home .popular-card {
    margin-top: 5vh;
    text-align: center;
    box-shadow: none;
    max-width: 260px;
}

.home .swiper2,
.home .swiper3 {
    max-width: 1400px;
    padding: 1vh 1vw 1vh 1vw;
}

.home .item-carousel .subtitle {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.home .swiper2 .subtitle,
.home .swiper3 .subtitle {
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.home .swiper2-next,
.home .swiper2-prev {
    visibility: hidden;
}

.home .swiper2-next i,
.home .swiper2-prev i {
    visibility: visible;
    color: #8083ff;
    font-size: 22px;
}

.home .item-card {
    height: 375px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    padding-top: 2vh;
}

.home .item-card .card-body {
    padding-top: 1vh;
}

.home .item-card img{
    width: min-content;
    height: min-content;
}

.home .item-card-v-all {
    height: 375px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #8083ff;
}

.home .item-card-v-all a {
    color: #ffffff;
    text-decoration-color: #ffffff;
}

.home .item-title-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    height: 80px;
}

.home .item-subtitle {
    margin: 0;
    font-size: 12px;
    color: #8083ff;
}

.home .btn-atc {
    background-color: rgb(128, 131, 255);
    border: 1px solid rgb(128, 131, 255);
    transition: .3s;
    color: #ffffff;
    font-size: 12px;
    height: 40px;
    width: fit-content;
}

.home .btn-atc:hover{
    border: 1px solid rgb(128, 131, 255);
    background-color: transparent;
    color: rgb(128, 131, 255);
}

.home .email-input:focus ~ .form-notch div {
    border-color: #8083ff !important;
}

.home .email-input:focus ~ .form-label {
    color: #8083ff !important;
}

.home .footer-content-container {
    min-height: 75px;
    background: #efefef;
}

.home .subs-content-container {
    min-height: 75px;
    background: #efefef;
}

@media (min-width: 768px) {
    .home .swiper-scrollbar {
        visibility: hidden;
    }
}

@media (max-width: 767.98px) {
    .home {
        padding-top: 100px;
    }

    .home .swiper2-prev i,
    .home .swiper2-next i {
        visibility: hidden;
    }

    .home .item-card {
        flex-direction: row;
        height: 200px;
        width: 250px;
        padding-top: 0;
    }

    .home .item-card .card-body {
        padding: 1vh 2vw 1vh 1vw;
    }

    .home .item-card-v-all {
        height: 200px;
        width: 275px;
    }

    .home h2 {
        font-size: 24px;
    }
}

/*Inicio de sesion*/

.header-container-log{
    background-color: #efefef;
    height: 75px;
    margin: 0;
    padding: 0;
}

.header-home-log {
    margin-left: 2vw;
}

.footer-container-log {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 150px;
    background-color: #efefef;
    margin-top: 10vh;
}

.footer-content-log {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    flex-wrap: wrap;
    margin: 3vh 2vw 0 4vw;
}

.nav-pills{
    margin: 3vh 30vw 0 30vw;

}