a {
    text-decoration: none;
    color: #2E2E2E;
}

a:hover {
    text-decoration: underline;
    color: #2E2E2E;
}

p {
    margin: 0;
}

h2 {
    font-size: 30px;
    color: #595959;
    margin: 0;
}

h3 {
    font-style: italic;
    font-size: 18px;
    color: #595959;
    margin: 1vh 0 1vh 0;
}

h4 {
    margin: 0;
    font-size: 16px;
    font-style: italic;
    color: #595959;
}

h5 {
    font-size: 16px;
    margin: 1vh 0 1vh 0;
    color: #2E2E2E;
}

.invalid-feedback,
.valid-feedback {
    font-size: 12px;
}

.custom-input.form-control:focus ~ .form-notch .form-notch-leading {
    box-shadow: 0 -1px 0 0 #8083ff, 0 1px 0 0 #8083ff, -1px 0 0 0 #8083ff;
    border-color: #8083ff;
}

.custom-input.form-control:focus ~ .form-notch .form-notch-trailing {
    box-shadow: 0 -1px 0 0 #8083ff, 0 1px 0 0 #8083ff, 1px 0 0 0 #8083ff;
    border-color: #8083ff;
}

.custom-input.form-control:focus ~ .form-notch .form-notch-middle {
    box-shadow: 0 1px 0 0 #8083ff;
    border-bottom-color: #8083ff;
}

.custom-input.is-invalid.form-control:focus ~ .form-notch .form-notch-leading {
    box-shadow: 0 -1px 0 0 #f93154, 0 1px 0 0 #f93154, -1px 0 0 0 #f93154;
    border-color: #f93154;
}

.custom-input.is-invalid.form-control:focus ~ .form-notch .form-notch-trailing {
    box-shadow: 0 -1px 0 0 #f93154, 0 1px 0 0 #f93154, 1px 0 0 0 #f93154;
    border-color: #f93154;
}

.custom-input.is-invalid.form-control:focus ~ .form-notch .form-notch-middle {
    box-shadow: 0 1px 0 0 #f93154;
    border-bottom-color: #f93154;
}

.custom-input.form-control:focus ~ .form-label {
    color: #8083ff;
}

.custom-input.form-control.is-invalid:focus ~ .form-label {
    color: #f93154;
}

.custom-select:focus {
    border-color: #8083ff;
    box-shadow: 0 0 0 1px #8083ff;
}

.custom-select.is-invalid {
    margin-bottom: 1rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%234f4f4f' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3E%3C/svg%3E") !important;
    padding-right: 2.25rem !important;
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    color: #f93154;
}

.custom-select.is-invalid:focus {
    border-color: #f93154;
    box-shadow: 0 0 0 1px #f93154;
}

.custom-select.is-invalid option {
    color: #4f4f4f;
}

.custom-select.is-invalid + .invalid-feedback {
    margin-top: -.75rem;
}

.custom-input-group > .form-control:focus {
    border-color: #8083ff !important;
    box-shadow: 0 0 0 1px #8083ff;
}

.custom-btn1,
.custom-btn1:active {
    box-shadow: none !important;
    border: none;
    background: none;
    padding: 0;
    text-transform: none;
    color: #2E2E2E;
    vertical-align: unset;
}

.custom-btn1:hover {
    box-shadow: none;
    background-color: transparent;
}

.custom-btn2, .custom-btn2:active {
    box-shadow: none !important;
    background-color: rgb(128, 131, 255);
    border: 1px solid rgb(128, 131, 255);
    text-transform: none;
    transition: .3s;
    color: #ffffff;
}

.custom-btn2:hover {
    background-color: transparent;
    color: rgb(128, 131, 255);
}

.custom-btn2.red, .custom-btn2.red:active {
    background-color: #FF4655;
    border: 1px solid #FF4655;
}

.custom-btn2.red:hover {
    border: 1px solid #FF4655;
    background-color: transparent;
    color: #FF4655;
}

.post {
    font-weight: bold;
    color: #595959;
}

.post.success {
    color: #66CC33;
}

.post.error {
    color: #f93154;
}

input[type=date][disabled] {
    opacity: 1 !important;
    color: rgba(255, 255, 255, 0);
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

/*Navbar Header*/
.navbar-header {
    min-height: 75px;
}

.navbar-header .header-logo {
    max-height: 50px;
}

.navbar-header .header-container {
    background-color: #efefef;
    min-height: 75px;
}

.navbar-header .search-bar-container {
    width: 100%;
    height: 40px;
    background: #BABABA;
    border-radius: 30px;
    padding: 5px 20px 5px 5px;
}

.navbar-header .search-bar-btn {
    color: #2E2E2E;
    font-size: 20px;
    margin: 0 0.75rem 0 1rem;
}

.navbar-header .search-bar-input {
    padding-left: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 100%;
}

.navbar-header .dropdown a:hover {
    text-decoration: none;
}

.navbar-header .header-icons,
.navbar-header .header-icons i {
    font-size: 40px;
    color: #2E2E2E;
}

.navbar-header .dropdown-toggle {
    font-size: 14px;
}

@media (max-width: 767.98px) {
    .navbar-header {
        min-height: 117px;
    }

    .navbar-header .header-container {
        padding: 1vh 0 1vh 0;
    }

    .navbar-header .header-icons,
    .navbar-header .header-icons i {
        font-size: 30px;
        color: #2E2E2E;
    }

    .navbar-header .search-bar-container {
        height: 35px;
    }

    .navbar-header .search-bar-btn {
        font-size: 16px;
        margin-left: 0.75rem;
    }

    .navbar-header .search-bar-input {
        font-size: 14px;
    }
}

/*Main sidebar*/

#sidebar-container {
    position: fixed;
    z-index: 1100;
    top: 0;
    bottom: 0;
    display: none;
}

#sidebar-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
}

#sidebar {
    position: absolute;
    max-width: 375px;
    left: 0;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
    padding-bottom: 1rem;
    font-size: 16px;
    display: none;
}

#sidebar .sidebar-body ul {
    display: none;
    font-size: 16px;
}

#sidebar .sidebar-body ul li a {
    padding: 0 4rem 0 4rem;
}

#sidebar-container .nav-link {
    color: #2E2E2E;
}

#sidebar-container .sidebar-subtitle {
    font-weight: bold;
    font-size: 20px;
    color: #2E2E2E;
}

.sidebar-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sidebar-content .sb-fixed {
    flex-shrink: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    z-index: 1200;
}

.sidebar-content .sb-default {
    flex-grow: 1;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
}

.sidebar-content .sb-default::-webkit-scrollbar {
    width: 0;
}

.sidebar-header {
    color: #2E2E2E;
    font-size: 15px;
    font-weight: bold;
    padding: 2vh 1vw 2vh 1vw;
}

.sidebar-header .custom-btn1 {
    text-decoration: underline;
    font-size: 16px;
}

.sidebar-header .custom-btn1:hover {
    box-shadow: none;
    transition: .3s;
    opacity: 0.85;
    background-color: transparent;
}

.sidebar-body .show-icon.hide {
    transform: rotate(-180deg);
    transition: .4s;
}

.sidebar-body .show-icon.show {
    transform: rotate(0);
    transition: .4s;
}

.sidebar-body p,
#sidebar .sidebar-body a,
#cat-sb .sidebar-body a,
#sidebar .sidebar-body .custom-btn1,
#cat-sb .sidebar-body .custom-btn1,
#sidebar .sidebar-body .custom-btn1:active,
#cat-sb .sidebar-body .custom-btn1:active{
    padding: 0 2rem 0 2rem;
    line-height: 3rem;
}

#sidebar .sidebar-body .custom-btn1:hover,
#cat-sb .sidebar-body .custom-btn1:hover,
#sidebar .sidebar-body a:hover,
#cat-sb .sidebar-body a:hover {
    background-color: #f3f3f3;
    text-decoration: none;
}

.sidebar-footer {
    padding: 0 1vw 2vh 1vw;
}

.sidebar-footer .custom-btn2 {
    width: 100%;
}

/*Cart sidebar*/

#cart-sidebar-container {
    position: fixed;
    z-index: 1100;
    top: 0;
    bottom: 0;
    display: none;
}

#cart-sidebar-bg {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    right: 0;
}

#cart-sidebar {
    position: absolute;
    max-width: 375px;
    right: 0;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
    padding-bottom: 1rem;
    font-size: 16px;
    display: none;
}

#cart-sidebar ul {
    display: none;
    font-size: 16px;
}

#cart-sidebar ul li a {
    padding: 0 4rem 0 4rem;
}

#cart-sidebar-container .nav-link {
    color: #2E2E2E;
}

#cart-sidebar-container .sidebar-subtitle {
    font-weight: bold;
    font-size: 20px;
    color: #2E2E2E;
}

#cart-sidebar .accordion-item {
    border: none;
}

#cart-sidebar .accordion-button:not(.collapsed) {
    color: unset;
}

#cart-sidebar .accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234f4f4f'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
}

#cart-sidebar .accordion-body .custom-btn1 {
    font-size: 16px;
    color: #8083ff;
}

.sidebar-body .cart-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: none;
    border-radius: unset;
}

.sidebar-body .cart-item .btn-group {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.sidebar-body .cart-item .btn-group .custom-btn2,
.sidebar-body .cart-item .btn-group .custom-btn1,
.sidebar-body .cart-item .btn-group .product-qty {
    width: 50px;
    height: 35px;
    text-align: center;
}

/*Footer*/

.footer-content-container {
    min-height: 75px;
    background: #efefef;
}

.footer-content-container .shortcuts h4 {
    font-style: normal;
}

.page-wrapper {
    height: 100vh;
}

.breadcrumb .breadcrumb-item {
    font-size: 14px;
}

/*Homepage*/

.home {
    font-family: 'Noto Sans', sans-serif;
}

.home .circles-container,
.home .cards-container,
.home .ads-container,
.home footer {
    margin-top: 5vh;
}

.home .two-line-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
}

.home .circle {
    font-size: 15px;
    text-align: center;
}

.home .circle:hover {
    transform: translateY(-20px);
}

.home .circle-img {
    max-width: 250px;
    max-height: 250px;
}

.home .circle-img img {
    border-radius: 50%;
}

.home .swiper1 {
    margin-top: 5vh;
    max-width: 1200px;
}

.home .swiper1 .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background: rgba(239, 239, 239, 0.75);
}

.home .swiper1 .swiper-pagination-bullet-active {
    background: #8083ff;
}

.home .swiper1-nav-btns {
    color: #efefef;
}

.home .popular-card {
    margin-top: 5vh;
    text-align: center;
    box-shadow: none;
    max-width: 260px;
}

.home .swiper2,
.home .swiper3 {
    max-width: 1400px;
    padding: 1vh 1vw 1vh 1vw;
}

.home .item-carousel .subtitle {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.home .swiper2-next,
.home .swiper2-prev {
    visibility: hidden;
}

.home .swiper2-next i,
.home .swiper2-prev i {
    visibility: visible;
    color: #8083ff;
    font-size: 22px;
}

.home .item-card {
    height: 375px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    padding-top: 2vh;
}

.home .item-card .card-body {
    padding-top: 1vh;
}

.home .item-card img {
    max-width: 150px;
    max-height: 150px;
}

.home .item-card-v-all {
    height: 375px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #8083ff;
}

.home .item-card-v-all a,
.home .item-card-v-all h4 {
    color: #ffffff;
    text-decoration-color: #ffffff;
}

.home .item-title-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    height: 55px;
}

.home .item-platform {
    margin: 0;
    font-size: 14px;
    color: #2E2E2E;
}

.home .item-date {
    margin: 0;
    font-size: 12px;
    color: #8083ff;
}

.home .item-card .custom-btn2 {
    font-size: 12px;
    height: 40px;
    width: fit-content;
}

.home .subs-content-container {
    min-height: 75px;
    background: #efefef;
}

@media (min-width: 768px) {
    .home .swiper-scrollbar {
        visibility: hidden;
    }
}

@media (max-width: 767.98px) {
    .home .swiper2-prev i,
    .home .swiper2-next i {
        visibility: hidden;
    }

    .home .item-card {
        flex-direction: row;
        height: 200px;
        width: 250px;
        padding-top: 0;
        padding-left: 2vw;
    }

    .home .item-card .card-body {
        padding: 1vh 2vw 1vh 1vw;
    }

    .home .item-card-v-all {
        height: 200px;
        width: 275px;
    }

    .home h2 {
        font-size: 24px;
    }
}

/*Inicio de sesion y registro*/

.login-register {
    font-family: 'Noto Sans', sans-serif;
}

.login-register .form-container a {
    text-decoration: underline;
    color: #2E2E2E;
}

.login-register .form-container a:hover {
    color: #8083ff;
}

.login-register .form-box {
    max-width: 600px;
}

.login-register .nav-pills .nav-link.active {
    background-color: #8083ff;
}

.login-register .nav-pills .nav-link {
    text-transform: unset;
    font-size: 14px;
}

.login-register .btn-submit {
    background-color: rgb(128, 131, 255);
    border: 1px solid rgb(128, 131, 255);
    box-shadow: none;
    transition: .3s;
    color: #ffffff;
    text-transform: unset;
    font-size: 14px;
}

.login-register .btn-submit:hover {
    background-color: transparent;
    color: rgb(128, 131, 255);
}

.login-register .form-check-input[type='checkbox']:checked {
    background-color: #8083ff;
    border-color: #8083ff;
}

.login-register .custom-btn1 {
    text-decoration: underline;
    font-size: 16px;
}

.login-register .custom-btn1:hover {
    color: #8083ff;
}

.login-register .custom-sh-button,
.login-register .custom-sh-button:active {
    padding: 0 5px 0 0;
    box-shadow: none;
    font-size: 20px;
}

.login-register #login-pw,
.login-register #register-pw {
    padding-right: 50px;
}

.login-register .progress-bar,
.login-register .pw-strength {
    height: 5px;
    border-radius: 5px;
}

.login-register .progress-bar {
    background-color: #efefef;
}

.login-register .pw-strength {
    transition: .3s;
}

.login-register .pw-strength.very-weak {
    background-color: #FF0000;
}

.login-register .pw-strength.weak {
    background-color: #FFCC33;
}

.login-register .pw-strength.good {
    background-color: #66CC33;
}

.login-register .pw-policies {
    display: none;
    font-size: 12px;
    line-height: 24px;
}

.login-register .pw-policies .fa-check {
    color: #66CC33;
    font-size: 16px;
}

/*Producto*/

.product {
    font-family: 'Noto Sans', sans-serif;
}

.product .product-box,
.product .product-description-box {
    max-width: 1200px;
}

.product .product-title {
    font-size: 24px;
    color: #2E2E2E;
    font-weight: 600;
}

.product .gallery-wrapper {
    max-width: 500px;
    max-height: 500px;
}

.product .thumbs-wrapper {
    max-width: 100px;
    max-height: 440px;
}

.product .thumbs-images img {
    max-height: 100px;
}

.product .main-images,
.product .main-videos {
    aspect-ratio: 1 / 1;
}

.product .gallery-thumbs .swiper-slide {
    min-height: 100px;
}

.product .gallery-thumbs .swiper-slide-thumb-active {
    border: solid 1px #595959;
}

.product .gallery-thumbs .swiper-slide:hover {
    cursor: pointer;
    border: dashed 1px #595959;
}

.product .gallery-thumbs .swiper-slide-thumb-active:hover {
    cursor: default;
    border: solid 1px #595959;
}

.product .gallery-main:hover {
    cursor: pointer;
    outline: dashed 1px #595959;
}

.product .thumbs-next,
.product .thumbs-prev {
    color: #2E2E2E;
}

.product .gallery-pagination {
    display: none;
}

.product .gallery-thumbs-container .swiper-button-disabled {
    color: rgba(46, 46, 46, 0.3);
}

.product .gallery-pagination-bullet {
    background-color: #BABABA;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 3px 0 3px;
}

.product .gallery-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #8083ff;
}

.product .video-player {
    aspect-ratio: 16 / 9;
    border: none;
}

.product .video-cover {
    position: absolute;
    border: none;
}

.product .thumbs-images .fa-circle-play {
    font-size: 30px;
    color: rgba(239, 239, 239, 0.85);
}

.product .video-cover .fa-circle-play {
    font-size: 75px;
    color: rgba(239, 239, 239, 0.85);
}

.product .video-cover .fa-circle-play:hover {
    transition: .2s;
    transform: scale(1.25);
}

.product .main-videos-active .video-cover {
    visibility: hidden;
}

.product .product-info-container {
    max-width: 400px;
}

.product .product-info-container .custom-btn2 {
    font-size: 16px;
    height: 50px;
    border-radius: 4px;
}

.product .form-select:focus {
    border-color: #8083ff;
    box-shadow: none;
}

.product .price {
    font-size: 22px;
    font-weight: bold;
    color: #2E2E2E;
}

.product .product-description .nav-link {
    text-transform: none;
    font-size: 14px;
    font-weight: 600;
}

.product .product-description .nav-link.active {
    color: #8083ff;
    border-color: #8083ff;
}

.product .description-wrapper {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;
    overflow: hidden;
    font-size: 16px;
    background: -webkit-linear-gradient(bottom, #ffffff 1%, #2E2E2E 15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product .description-wrapper.show-less {
    display: block;
    background: #2E2E2E;
    -webkit-background-clip: text;
}

.product .product-description ul ul li {
    font-weight: 600;
}

.product .item-carousel1 {
    max-width: 1400px;
    padding: 1vh 1vw 1vh 1vw;
}

.product .item-carousel-next,
.product .item-carousel-prev {
    visibility: hidden;
}

.product .item-carousel-next i,
.product .item-carousel-prev i {
    visibility: visible;
    color: #595959;
    font-size: 22px;
}

.product .item-carousel-next.swiper-button-disabled i,
.product .item-carousel-prev.swiper-button-disabled i {
    visibility: hidden;
}

.product .item-card {
    box-shadow: none;
    background-color: #ffffff;
    padding-top: 2vh;
}

.product .item-card:hover {
    outline: dashed 1px #2E2E2E;
}

.product .item-card img {
    max-height: 150px;
    max-width: 150px;
}

.product .item-card .card-body {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.product .item-title-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    height: 50px;
}

.product .metascore.bad,
.product .metascore.normal,
.product .metascore.good {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
    height: 34px;
    width: 34px;
    border-radius: 6px;
}

.product .metascore.bad {
    background-color: #FF0000;
}

.product .metascore.normal {
    background-color: #FFCC33;
}

.product .metascore.good {
    background-color: #66CC33;
}

@media (max-width: 767.98px) {
    .product .gallery-thumbs-container {
        display: none;
    }

    .product .gallery-pagination {
        display: inline-flex;
    }

    .product .product-title {
        font-size: 20px;
    }
}

@media (max-width: 991.98px) {
    .product .product-info-container {
        max-width: unset;
    }
}

/*Contacto*/

.contact {
    font-family: 'Noto Sans', sans-serif;
}

.contact .form-container a {
    text-decoration: underline;
    color: #2E2E2E;
}

.contact .form-container a:hover {
    color: #8083ff;
}

.contact .form-box {
    max-width: 600px;
}

.contact .btn-submit {
    background-color: #8083ff;
    border: 1px solid #8083ff;
    box-shadow: none;
    transition: .3s;
    color: #ffffff;
    text-transform: unset;
    font-size: 14px;
}

.contact .btn-submit:hover {
    background-color: transparent;
    color: rgb(128, 131, 255);
}

.contact .form-check-input[type='checkbox']:checked {
    background-color: #8083ff;
    border-color: #8083ff;
}

@media (max-width: 767.98px) {
    .contact .title {
        font-size: 20px;
    }
}

/*Terminos y condiciones*/

.terms {
    font-family: 'Noto Sans', sans-serif;
}

.terms .container h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.terms .container h4 {
    font-size: 20px;
    padding-top: 10px;
    color: #504f4f;
}

.terms .container p {
    padding: 10px;
    line-height: 16px;
}

.terms .container ul {
    padding: 15px 0 15px 50px;
}

.terms .container li {
    line-height: 16px;
    padding: 10px 0;
}


/*Nuestras tiendas*/

.stores {
    font-family: 'Noto Sans', sans-serif;
}

.stores .stores-box {
    max-width: 1000px;
}

.stores .title {
    font-size: 40px;
    font-weight: bold;
}

.stores .card-title {
    font-size: 20px;
    font-weight: 600;
}

.stores iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

@media (max-width: 767.98px) {
    .stores .title {
        font-size: 30px;
    }

    .stores h2 {
        font-size: 22px;
    }
}

/*Preguntas frecuentes*/

.questions {
    font-family: 'Noto Sans', sans-serif;
}

.questions .questions-box {
    max-width: 1200px;
}

.questions .questions-box .title {
    font-size: 40px;
    font-weight: bold;
}

.questions .questions-box h4 {
    font-size: 25px;
    padding-top: 10px;
    color: #504f4f;
}

.questions .questions-box p {
    padding: 10px 0 15px 0;
    line-height: 16px;
}

/*Categoria*/

.category {
    font-family: 'Noto Sans', sans-serif;
}

.category .category-box {
    max-width: 1400px;
}

.category .products {
    justify-self: start;
}

.category .item-card {
    box-shadow: none;
    background-color: #ffffff;
    padding-top: 2vh;
    border-radius: 15px;
}

.category .item-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #000000;
}

.category .item-card img {
    max-height: 150px;
}

.category .item-card-link {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.category .item-card .custom-btn2 {
    position: relative;
    font-size: 12px;
    height: 40px;
    width: fit-content;
}

.category .item-card .card-body {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.category .item-title-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    height: 54px;
}

#cat-sb-container {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
}

#cat-sb .sidebar-header {
    display: none;
}

#cat-sb ul {
    display: none;
    font-size: 16px;
}

#cat-sb ul li {
    padding: 0 4rem 0 4rem;
    margin: 16px 0 16px 0;
}

#cat-sb-open-btn {
    display: none;
}

.category .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2em;
}

.category .product-grid a:hover {
    text-decoration: none;
}

.category .pagination .page-link:hover {
    text-decoration: none;
}

.category .pagination .page-link:focus {
    color: unset;
}

.category .pagination .page-item.active .page-link {
    background-color: #8083ff;
}

.category .pagination .page-item.active .page-link:focus {
    color: #fff;
}

@media (max-width: 767.98px) {
    #cat-sb-container {
        position: fixed;
        z-index: 1100;
        top: 0;
        bottom: 0;
        left: 0;
        display: none;
    }

    #cat-sb-bg {
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
    }

    #cat-sb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-width: 375px;
        background: #ffffff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.35);
        padding-bottom: 1rem;
        font-size: 16px;
        display: none;
        overflow-y: auto;
        scrollbar-width: none; /* Firefox */
    }

    #cat-sb::-webkit-scrollbar {
        width: 0;
    }

    #cat-sb .sidebar-header {
        display: flex;
    }

    #cat-sb-open-btn {
        display: block;
    }
}

/*Admin*/

.admin {
    font-family: 'Noto Sans', sans-serif;
}

.admin .navbar-header {
    min-height: 75px;
}

.admin .content-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.admin .content-container {
    max-width: 800px;
}

.admin .nav-pills a:hover {
    text-decoration: none;
}

.admin .nav-pills .nav-link {
    font-size: 14px;
    font-weight: 600;
}

.admin .nav-pills .nav-link.active {
    background-color: #8083ff;
}

.admin .nav-tabs .nav-link {
    font-size: 14px;
    font-weight: 600;
}

.admin .nav-tabs .nav-link.active {
    color: #8083ff;
    border-color: #8083ff;
}

.admin .product-img {
    max-height: 200px;
    display: none;
}

.admin .product-img.visible {
    display: block;
}

.admin tfoot tr {
    background: #ffffff;
    position: sticky;
    bottom: 0;
}

.admin .table-responsive {
    max-height: 400px;
}

.admin .uploadcare--widget__button.uploadcare--widget__button_type_open {
    background-color: #8083ff;
    font-size: .75rem;
    padding: 0.625rem 1.5rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(128, 131, 255);
    transition: .3s;
}

.admin .uploadcare--widget__button.uploadcare--widget__button_type_open:hover {
    background-color: transparent;
    color: rgb(128, 131, 255);
}

.admin .uploadcare--widget__button.uploadcare--widget__button_type_cancel {
    background-color: #BABABA;
    font-size: .75rem;
    padding: 0.625rem 1.5rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #BABABA;
    transition: .3s;
}

.admin .uploadcare--widget__button.uploadcare--widget__button_type_cancel:hover {
    background-color: transparent;
    color: #BABABA;
}

.admin .uploadcare--widget__button.uploadcare--widget__button_type_remove {
    background-color: #f93154;
    font-size: .75rem;
    padding: 0.625rem 1.5rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #f93154;
    transition: .3s;
}

.admin .uploadcare--widget__button.uploadcare--widget__button_type_remove:hover {
    background-color: transparent;
    color: #f93154;
}

.admin .uploadcare--widget__dragndrop-area {
    border-radius: 0.25rem;
    font-size: .75rem;
    padding: 0.625rem 1.5rem 0.5rem;
    transition: .3s;
}

.admin .uploadcare--dragging .uploadcare--widget__dragndrop-area {
    color: #8083ff;
    background-color: #ffffff;
}

.admin .image.error + .uploadcare--widget .uploadcare--widget__button.uploadcare--widget__button_type_open {
    background-color: #f93154;
    border-color: #f93154;
    transition: .3s;
}

.admin .image.error + .uploadcare--widget .uploadcare--widget__button.uploadcare--widget__button_type_open:hover {
    background-color: transparent;
    color: #f93154;
}

/* Acceso denegado */
.denied {
    font-family: 'Noto Sans', sans-serif;
}

/* Carrito Checkout */
.checkout,
.payment {
    font-family: 'Noto Sans', sans-serif;
}

.checkout .content-box,
.payment .content-box {
    max-width: 1200px;
}

.checkout .cart-item .item-subtitle,
.payment .cart-item .item-subtitle {
    font-size: 14px;
}

.checkout .cart-detail-container,
.payment .cart-detail-container {
    position: sticky;
    position: -webkit-sticky;
    top: 12vh;
    background: #ffffff;
}

.checkout .cart-detail .custom-btn2,
.payment .cart-detail .custom-btn2 {
    width: 100%;
}

.checkout .cart-detail .accordion-button,
.payment .cart-detail .accordion-button {
    color: unset;
}

.checkout .accordion-button:not(.collapsed),
.payment .accordion-button:not(.collapsed) {
    box-shadow: none;
}

.checkout .accordion-button:not(.collapsed):after,
.payment .accordion-button:not(.collapsed):after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%234f4f4f'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 01.708 0L8 10.293l5.646-5.647a.5.5 0 01.708.708l-6 6a.5.5 0 01-.708 0l-6-6a.5.5 0 010-.708z'/%3E%3C/svg%3E");
}

.checkout .modal-body .custom-btn1,
.payment .modal-body .custom-btn1 {
    font-size: unset;
}

@media (max-width: 767.98px) {
    .checkout .navbar-header,
    .payment .navbar-header {
        min-height: 75px;
    }

    .checkout .accordion-item,
    .payment .accordion-item {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    }

    .checkout .cart-detail-container,
    .payment .cart-detail-container {
        position: fixed;
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1200;
    }

    .checkout .footer-content-container,
    .payment .footer-content-container {
        margin-bottom: 120px;
    }
}

/* Ordenes */
.orders {
    font-family: 'Noto Sans', sans-serif;
}