{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product : Music Pro</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'products/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'products/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'products/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'products/favicon/site.webmanifest' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplelightbox@2.10.3/dist/simple-lightbox.css">
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap"
          rel="stylesheet">
</head>
<body class="product">
<!--Menu superior-->
<header class="navbar-header">
    <div class="container-fluid fixed-top">
        <div class="row align-items-center pe-3 ps-3 gap-2 header-container">
            <div class="col-4 col-md-2 order-2 order-md-1 m-md-0 me-md-auto">
                <a href="{% url 'home' %}"><img src="{% static 'products/img/logo.png' %}" class="img-fluid header-logo"
                                                alt="logo"></a>
            </div>
            <div class="col-auto col-md-auto order-1 order-md-2">
                <button id="sidebar-open-btn" type="button" class="btn custom-btn1">
                    <i class="fa-solid fa-bars header-icons"></i>
                </button>
            </div>
            <div class="col-12 col-md-5 order-3 order-md-3">
                <div class="row mb-2 mb-md-0 gx-0 justify-content-center search-bar-container">
                    <div class="col-auto">
                        <a href="#" class="search-bar-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    <div class="col">
                        <input type="text" class="search-bar-input">
                    </div>
                </div>
            </div>
            <div class="col-4 col-md-2 order-2 order-md-4 ms-auto">
                <div class="row justify-content-end flex-nowrap header-icons">
                    <div class="col-auto gx-0">
                        <div class="dropdown">

                            <button
                                    class="btn dropdown-toggle custom-btn1"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-mdb-toggle="dropdown"
                                    aria-expanded="false">
                                {% if user.is_authenticated %}
                                    Bienvenido/a <i class="fa-solid fa-circle-user"></i>
                                {% else %}
                                    <i class="fa-solid fa-circle-user"></i>
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if user.is_authenticated %}
                                    {% if user.is_staff %}
                                        <li><a class="dropdown-item" href="{% url 'administration' %}">Administrar
                                            web</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'orders' %}">Mis compras</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button id="cart-sidebar-open-btn" class="btn custom-btn1"><i
                                class="fa-solid fa-cart-shopping"></i>
                            <span id="cart-product-count"
                                  class="badge rounded-pill badge-notification bg-success"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Menu lateral - Menu -->
<section>
    <div id="sidebar-container" class="container-fluid">
        <div id="sidebar-bg" class="w-100 h-100"></div>
        <div id="sidebar" class="w-100 h-100">
            <div class="sidebar-content">
                <div class="sb-fixed">
                    <div class="row justify-content-between align-items-center m-0 sidebar-header">
                        <div class="col-auto">
                            <p>Tienda</p>
                        </div>
                        <div class="col-auto">
                            <button id="sidebar-close-btn" type="button" class="btn custom-btn1"><i
                                    class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sb-default">
                    <nav class="nav flex-column sidebar-body">
                        <p class="sidebar-subtitle mt-2">Categorías</p>
                        {% for cat in categorias %}
                            <button type="button" class="row gx-0 custom-btn1 category-btn">
                                <span class="col-auto">{{ cat.nombreCategoria }}</span>
                                <span class="col-auto ms-auto">
                            <i class="show-icon fa-solid fa-angle-down"></i>
                        </span>
                            </button>

                            <ul class="nav flex-column subcategories">
                                {% for sub in subcategorias %}
                                    {% if sub.categoria.idCategoria == cat.idCategoria %}
                                        <li class="nav-item">
                                            <a href="{{ sub.url }}" class="nav-link">{{ sub.nombreSubcategoria }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="nav-item">
                                    <a href="{{ cat.url }}" class="nav-link">Ver todo</a>
                                </li>
                            </ul>
                        {% endfor %}
                        <p class="sidebar-subtitle">Más</p>
                        <a href="#">Próximos lanzamientos</a>
                        <a href="#">Ofertas</a>
                        <hr>
                        <p class="sidebar-subtitle">Soporte</p>
                        <a href="{% url 'contact' %}">Contacto</a>
                        <a href="{% url 'questions' %}">Preguntas frecuentes</a>
                        <a href="{% url 'stores' %}">Nuestras tiendas</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Menu lateral - Carro -->
<section>
    <div id="cart-sidebar-container" class="container-fluid">
        <div id="cart-sidebar-bg" class="w-100 h-100"></div>
        <div id="cart-sidebar" class="w-100 h-100 p-0">
            <div class="sidebar-content">
                <div class="sb-fixed">
                    <div class="row justify-content-between align-items-center m-0 w-100 sidebar-header">
                        <div class="col-auto">
                            <p>Carrito</p>
                        </div>
                        <div class="col-auto">
                            <button id="cart-sidebar-close-btn" type="button" class="btn custom-btn1"><i
                                    class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="cart-sidebar-scroll" class="sb-default">
                    <nav id="cart-sidebar-body" class="nav flex-column sidebar-body">
                    </nav>
                </div>
                <div class="sb-fixed">
                    <div class="row align-items-center m-0 w-100 sidebar-footer">
                        <div class="col-12">
                            <div class="accordion" id="cart-detail">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="cart-detail-header">
                                        <button class="accordion-button fw-bold ps-0 pe-0" type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#cart-detail-content"
                                                aria-expanded="true" aria-controls="cart-detail-content">
                                            <span>Total: $</span><span id="cart-total">0</span>
                                        </button>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'checkout' %}" class="btn custom-btn2">Continuar compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Detalle del producto-->
<section>
    <div class="container-fluid product-container mt-4">
        <div class="row justify-content-center">
            <div class="row gap-3 p-0 flex-column flex-lg-row justify-content-center product-box">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                            <li class="breadcrumb-item">
                                <a href="{{ breadcrumb.cat_url }}">{{ breadcrumb.cat }}</a></li>
                            <li class="breadcrumb-item">
                                <a href="{{ breadcrumb.sub_url }}">{{ breadcrumb.sub }}</a></li>
                        </ol>
                    </nav>
                </div>
                <div class="col-12 text-center text-md-start">
                    <span class="product-title">{{ producto.alias }}</span>
                </div>
                <div class="col-auto flex-shrink-1">
                    <div class="row flex-column flex-md-row align-items-center justify-content-center flex-md-nowrap gx-0">
                        <div class="col col-md-auto me-md-3 gallery-thumbs-container">
                            <div class="row gx-0 flex-column">
                                <div class="col-auto text-center mb-2">
                                    <div class="thumbs-prev"><i class="fa-solid fa-chevron-up"></i></div>
                                </div>
                                <div class="col-auto">
                                    <div class="swiper w-100 h-100 gallery-thumbs">
                                        <div id="product-thumbs-gallery" class="swiper-wrapper thumbs-wrapper">
                                            <div class="swiper-slide">
                                                <div class="row thumbs-images h-100 justify-content-center align-items-center">
                                                    <img src="{{ producto.imagenProducto.cdn_url }}-/preview/100x100/-/stretch/fill/-/resize/100x/-/scale_crop/100x100/center/-/sharp/-/format/webp/"
                                                         class="img-fluid" alt="{{ producto.alias }}">
                                                </div>
                                            </div>
                                            <!--div class="swiper-slide">
                                                <div class="row thumbs-images h-100 justify-content-center align-items-center">
                                                    <img src="{% static 'products/img/legoswimg1.jpg' %}"
                                                         class="img-fluid" alt="">
                                                </div>
                                            </div-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto text-center mt-2">
                                    <div class="thumbs-next"><i class="fa-solid fa-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-auto">
                            <div class="row flex-column">
                                <div class="col-auto">
                                    <div class="swiper w-100 h-100 gallery-main">
                                        <div id="product-gallery" class="swiper-wrapper gallery-wrapper gallery">
                                            <div class="swiper-slide">
                                                <div class="row main-images gx-0 h-100 justify-content-center align-items-center">
                                                    <a href="{{ producto.imagenProducto.cdn_url }}-/resize/x500/-/stretch/fill/-/resize/x600/-/scale_crop/600x600/center/-/sharp/-/format/webp/"><img
                                                            src="{{ producto.imagenProducto.cdn_url }}-/stretch/fill/-/resize/x500/-/scale_crop/500x500/center/-/format/webp/"
                                                            class="img-fluid" alt="{{ producto.alias }}"></a>
                                                </div>
                                            </div>
                                            <!--div class="swiper-slide">
                                                <div class="row main-images gx-0 h-100 justify-content-center align-items-center">
                                                    <a href="{% static 'products/img/legoswimg1.jpg' %}"><img
                                                            src="{% static 'products/img/legoswimg1.jpg' %}"
                                                            class="img-fluid" alt=""></a>
                                                </div>
                                            </div-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto mt-3 align-self-center">
                                    <div class="gallery-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg align-self-center product-info-container">
                    <div class="row flex-column gap-3 gx-0">
                        <div class="row gx-0 justify-content-between">
                            <p class="col-auto" style="font-size: 12px">Precio Web</p>
                            <p id="product-id" class="col-auto" style="font-size: 12px">
                                SKU: {{ producto.idProducto }}</p>
                            <p class="col-12 price">${{ producto.precioProducto }}</p>
                            <div class="col-auto row gx-0 gap-1" style="font-size: 14px">
                                <p class="col-auto">Normal</p>
                                <p class="col-auto" style="font-weight: 600">$64.990</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4 col-sm-3 pe-0">
                                    <select class="h-100 form-select">
                                        <option selected value="opt1">1</option>
                                        <option value="opt2">2</option>
                                        <option value="opt3">3</option>
                                        <option value="opt4">4</option>
                                        <option value="opt5">5</option>
                                        <option value="opt6">6</option>
                                        <option value="opt7">7</option>
                                        <option value="opt8">8</option>
                                        <option value="opt9">9</option>
                                        <option value="opt10">10</option>
                                    </select>
                                </div>
                                <div class="col-8 col-sm-9">
                                    <input name="idProducto" type="hidden"
                                           value="{{ producto.idProducto }}">
                                    <form name="addToCartForm" action="">
                                        {% csrf_token %}
                                        {{ carritoProductoForm }}
                                        <button type="submit"
                                                class="custom-btn2 w-100">
                                            <span>Añadir al carro</span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row gap-2 gx-0">
                            <i class="col-auto fa-solid fa-store" style="font-size: 26px; color: #6CBAA2"></i>
                            <p class="col-auto">Retiro en tienda</p>
                        </div>
                        <div class="row gap-2 gx-0">
                            <i class="col-auto fa-solid fa-truck" style="font-size: 26px; color: #6CBAA2"></i>
                            <p class="col-auto">Despacho</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Descripcion del producto-->
<section>
    <div class="container-fluid product-description-container mt-3">
        <div class="row justify-content-center">
            <div class="row p-0 product-description-box">
                <div class="product-description">
                    <div class="row">
                        <div class="col-12 col-lg-2">
                            <div class="nav flex-lg-column nav-tabs mb-3" id="product-tabs" role="tablist">
                                <button class="nav-link active" id="description-tab" data-mdb-toggle="tab"
                                        data-mdb-target="#description-content"
                                        type="button" role="tab" aria-selected="true">
                                    Descripción
                                </button>
                                <button class="nav-link" id="specs-tab" data-mdb-toggle="tab"
                                        data-mdb-target="#specs-content"
                                        type="button" role="tab" aria-selected="true">
                                    Especificaciones
                                </button>
                                <button class="nav-link" id="warranty-tab" data-mdb-toggle="tab"
                                        data-mdb-target="#warranty-content"
                                        type="button" role="tab" aria-selected="false">
                                    Garantía
                                </button>
                            </div>
                        </div>
                        <div class="col-12 col-lg-10 ps-4 pe-4">
                            <div class="tab-content" id="product-tabs-content">
                                <div class="tab-pane fade show active" id="description-content" role="tabpanel"
                                     aria-labelledby="description-tab">
                                    <div class="row justify-content-center justify-content-md-end">
                                        <div class="col-12 description-wrapper">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <h3 id="product-title">LEGO Star Wars: The Skywalker Saga</h3>
                                                    <p>
                                                        La galaxia es tuya en LEGO® Star Wars™: The Skywalker Saga.
                                                        En este nuevo juego, los jugadores experimentarán momentos
                                                        memorables y acción ininterrumpida de las nueve películas
                                                        de la saga Skywalker reinventadas con el humor
                                                        característico de LEGO. El juego sumergirá a los jugadores
                                                        en la saga expansiva con la libertad de controlar cientos
                                                        de personajes, barcos y vehículos para crear su propio
                                                        viaje único a través de la galaxia.
                                                    </p>
                                                    <br>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li>Explora las trilogías en cualquier orden</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <p>
                                                        Los jugadores revivirán la historia épica de las nueve
                                                        películas de la Saga Skywalker, y todo comienza con la
                                                        elección de la trilogía de tu preferencia para comenzar
                                                        el viaje.
                                                    </p>
                                                    <br>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li>Juega como los héroes y villanos icónicos</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <p>
                                                        Hay más de 300 personajes jugables de toda la galaxia.
                                                        Los jugadores pueden elegir entre una legión de héroes
                                                        como Luke Skywalker, Qui-Gon Jinn, Chewbacca, Leia Organa
                                                        y Poe Dameron o pasarse al lado oscuro como Darth Vader,
                                                        Kylo Ren, Darth Maul, el Emperador Palpatine y más.
                                                    </p>
                                                    <br>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li>Descubre lugares legendarios</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <p>
                                                        Los jugadores pueden visitar lugares conocidos de sus
                                                        películas favoritas de Star Wars, como las mesas de
                                                        Geonosis, los pantanos de Dagobah y las salinas de Crait.
                                                        Pueden desbloquear y tener la libertad de viajar sin
                                                        problemas a 23 planetas mientras juegan a través de la saga
                                                        o exploran y descubren emocionantes misiones.
                                                    </p>
                                                    <br>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li>Comanda vehículos poderosos</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <p>
                                                        Hay más de 100 vehículos de toda la galaxia para comandar.
                                                        Los jugadores pueden saltar a la velocidad de la luz en el
                                                        Millennium Falcon para escapar de las naves estelares
                                                        imperiales, luchar contra los cazas TIE de la Primera Orden
                                                        en Alas-X de la Resistencia o competir en vainas en
                                                        Tatooine. También pueden unirse a combates aéreos y
                                                        derrotar naves capitales como el Super Star Destroyer que
                                                        se puede abordar y explorar.
                                                    </p>
                                                    <br>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li>Experiencias de juego inmersivas</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <p>
                                                        Los jugadores pueden experimentar batallas como nunca
                                                        antes en un juego de LEGO al unir diferentes ataques para
                                                        formar cadenas combinadas y defenderse de los ataques que
                                                        se aproximan. Los nuevos controles y mecánicas de los
                                                        blaster permite a los jugadores apuntar con precisión y
                                                        ponerse a cubierto para planear su próximo movimiento o
                                                        utilizar las habilidades de un Jedi empuñando un sable de
                                                        luz usando el poder de La Fuerza.
                                                    </p>
                                                    <br>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li>Habilidades de personajes actualizables</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <p>
                                                        La exploración recompensa a los jugadores a medida que
                                                        descubren Kyber Bricks que desbloquean nuevas funciones y
                                                        habilidades mejoradas en una variedad de clases de
                                                        personajes, incluidos Jedi, Hero, Dark Side, Villain,
                                                        Scavenger, Scoundrel, Bounty Hunter, Astromech Droid y
                                                        Protocol Droid.
                                                    </p>
                                                    <br>
                                                </li>
                                                <li>
                                                    <ul>
                                                        <li>Siempre apto para toda la familia</li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <p>
                                                        Los fanáticos de todas las generaciones pueden jugar juntos
                                                        y experimentar la saga completa contada con el nuevo y
                                                        divertido humor de LEGO. El juego es un punto de entrada
                                                        accesible a la galaxia de Star Wars que es fácil de
                                                        aprender y jugar para una audiencia más joven mientras aún
                                                        es lo suficientemente profundo para que cualquiera lo
                                                        disfrute.
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-auto">
                                            <button id="show-description-btn" type="button"
                                                    class="btn btn-rounded custom-btn2">Ver más
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="specs-content" role="tabpanel"
                                     aria-labelledby="specs-tab">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <div class="row align-items-center">
                                                <p class="col-auto" style="font-weight: 600">Clasificación ESRB:</p>
                                                <p id="esrb-rating" class="col-auto p-0"></p>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row align-items-center">
                                                <p class="col-auto" style="font-weight: 600">Metascore:</p>
                                                <div class="col-auto p-0 row gx-0 align-items-center text-center metascore">
                                                    <p id="metascore"></p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="list-group-item">
                                            <div class="row align-items-center">
                                                <p class="col-auto" style="font-weight: 600">Fecha de lanzamiento:</p>
                                                <p id="release-date" class="col-auto p-0"></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="warranty-content" role="tabpanel"
                                     aria-labelledby="warranty-tab">
                                    <p>
                                        Todos nuestros juegos tienen una garantía de 6 meses
                                        (Por compras realizadas a partir del 24 de marzo del 2022)
                                        desde el momento que se realiza la compra
                                        (La garantía de cada marca viene señalada en el interior
                                        de la caja del producto).
                                        <br><br>
                                        La garantía solo cubre fallas de fabricación.
                                        <br><br>
                                        El disco no puede estar rayado ni con señales de uso.
                                        Para hacer efectiva su garantía con zuzuPlay
                                        deberá de incluir su recibo de pago original y el producto debe estar
                                        completo y en buen estado.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Recomendados-->
<section>
    <div class="container-fluid item-carousel-container mt-3 mb-3">
        <div class="text-center" style="font-size: 24px; font-weight: 600">
            <p>Recomendados</p>
        </div>
        <div class="swiper item-carousel1">
            <div class="swiper-wrapper">
                {% for prod in recomendados %}
                    <div class="swiper-slide">
                        <a href="{{ prod.url }}">
                            <div class="card item-card">
                                <div class="col-auto align-self-center">
                                    <img src="{{ prod.imagenProducto.cdn_url }}" class="card-img-top img-fluid"
                                         alt="{{ prod.nombreProducto }}">
                                </div>
                                <div class="col-auto card-body">
                                    <div class="item-title-wrapper text-center">
                                        <span>{{ prod.nombreProducto }}</span>
                                    </div>
                                    <p class="text-center" style="font-size: 18px; font-weight: 600">
                                        ${{ prod.precioProducto }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-button-prev item-carousel-prev">
                <i class="fa-solid fa-circle-chevron-left arrow-icon"></i>
            </div>
            <div class="swiper-button-next item-carousel-next">
                <i class="fa-solid fa-circle-chevron-right arrow-icon"></i>
            </div>

            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>
<!--Pie de pagina-->
<footer>
    <div class="container-fluid">
        <div class="row justify-content-center justify-content-sm-start align-items-center ps-3 pe-3 pt-3 pb-3 gap-3 gap-sm-0 footer-content-container">
            <div class="col-auto col-sm-6">
                <div class="row gap-2 justify-content-center justify-content-sm-start align-items-center">
                    <div class="col-12 col-md-auto text-center text-sm-start">
                        <h4>Síguenos en</h4>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-6">
                <div class="row gap-3 justify-content-center justify-content-sm-end shortcuts">
                    <div class="col-auto">
                        <a href="{% url 'terms' %}"><h4>Términos y condiciones</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'questions' %}"><h4>Preguntas frecuentes</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'stores' %}"><h4>Nuestras tiendas</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'contact' %}"><h4>Contacto</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto gx-0">
                <img src="{% static 'products/img/footer galaxy.png' %}" class="img-fluid" alt="galaxy">
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/777d474a1b.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simplelightbox@2.10.3/dist/simple-lightbox.jquery.min.js"></script>
<script src="{% static 'products/js/script.js' %}"></script>
</body>
</html>