{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Términos y condiciones : MusicPro</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'products/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'products/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'products/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'products/favicon/site.webmanifest' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap"
          rel="stylesheet">
</head>
<body class="terms">
<!--Menu superior-->
<header class="navbar-header">
    <div class="container-fluid fixed-top">
        <div class="row align-items-center pe-3 ps-3 gap-2 header-container">
            <div class="col-4 col-md-2 order-2 order-md-1 m-md-0 me-md-auto">
                <a href="{% url 'home' %}"><img src="{% static 'products/img/MusicPro.png' %}"
                                                class="img-fluid header-logo"
                                                alt="logo"></a>
            </div>
            <div class="col-auto col-md-auto order-1 order-md-2">
                <button id="sidebar-open-btn" type="button" class="btn custom-btn1">
                    <i class="fa-solid fa-bars header-icons"></i>
                </button>
            </div>
            <div class="col-12 col-md-5 order-3 order-md-3">
                <div class="row mb-2 mb-md-0 gx-0 justify-content-center search-bar-container">
                    <div class="col-auto">
                        <a href="#" class="search-bar-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    <div class="col">
                        <input type="text" class="search-bar-input">
                    </div>
                </div>
            </div>
            <div class="col-4 col-md-2 order-2 order-md-4 ms-auto">
                <div class="row justify-content-end flex-nowrap header-icons">
                    <div class="col-auto gx-0">
                        <div class="dropdown">

                            <button
                                    class="btn dropdown-toggle custom-btn1"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-mdb-toggle="dropdown"
                                    aria-expanded="false">
                                {% if user.is_authenticated %}
                                    Bienvenido/a <i class="fa-solid fa-circle-user"></i>
                                {% else %}
                                    <i class="fa-solid fa-circle-user"></i>
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if user.is_authenticated %}
                                    {% if user.is_staff %}
                                        <li><a class="dropdown-item" href="{% url 'web_admin' %}">Administrar
                                            web</a></li>
                                        <li><a class="dropdown-item" href="{% url 'orders_admin' %}">Administrar
                                            órdenes</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'orders' %}">Mis compras</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a>
                                    </li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button id="cart-sidebar-open-btn" class="btn custom-btn1"><i
                                class="fa-solid fa-cart-shopping"></i>
                            <span id="cart-product-count"
                                  class="badge rounded-pill badge-notification bg-success"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Menu lateral - Menu -->
<section>
    <div id="sidebar-container" class="container-fluid">
        <div id="sidebar-bg" class="w-100 h-100"></div>
        <div id="sidebar" class="w-100 h-100">
            <div class="sidebar-content">
                <div class="sb-fixed">
                    <div class="row justify-content-between align-items-center m-0 sidebar-header">
                        <div class="col-auto">
                            <p>Tienda</p>
                        </div>
                        <div class="col-auto">
                            <button id="sidebar-close-btn" type="button" class="btn custom-btn1"><i
                                    class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sb-default">
                    <nav class="nav flex-column sidebar-body">
                        <p class="sidebar-subtitle mt-2">Categorías</p>
                        {% for cat in categorias %}
                            <button type="button" class="row gx-0 custom-btn1 category-btn">
                                <span class="col-auto">{{ cat.nombreCategoria }}</span>
                                <span class="col-auto ms-auto">
                            <i class="show-icon fa-solid fa-angle-down"></i>
                        </span>
                            </button>

                            <ul class="nav flex-column subcategories">
                                {% for sub in subcategorias %}
                                    {% if sub.categoria.idCategoria == cat.idCategoria %}
                                        <li class="nav-item">
                                            <a href="{{ sub.url }}" class="nav-link">{{ sub.nombreSubcategoria }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="nav-item">
                                    <a href="{{ cat.url }}" class="nav-link">Ver todo</a>
                                </li>
                            </ul>
                        {% endfor %}
                        <p class="sidebar-subtitle">Más</p>
                        <a href="#">Próximos lanzamientos</a>
                        <a href="#">Ofertas</a>
                        <hr>
                        <p class="sidebar-subtitle">Soporte</p>
                        <a href="{% url 'contact' %}">Contacto</a>
                        <a href="{% url 'questions' %}">Preguntas frecuentes</a>
                        <a href="{% url 'stores' %}">Nuestras tiendas</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Menu lateral - Carro -->
<section>
    <div id="cart-sidebar-container" class="container-fluid">
        <div id="cart-sidebar-bg" class="w-100 h-100"></div>
        <div id="cart-sidebar" class="w-100 h-100 p-0">
            <div class="sidebar-content">
                <div class="sb-fixed">
                    <div class="row justify-content-between align-items-center m-0 w-100 sidebar-header">
                        <div class="col-auto">
                            <p>Carrito</p>
                        </div>
                        <div class="col-auto">
                            <button id="cart-sidebar-close-btn" type="button" class="btn custom-btn1"><i
                                    class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="cart-sidebar-scroll" class="sb-default">
                    <nav id="cart-sidebar-body" class="nav flex-column sidebar-body">
                    </nav>
                </div>
                <div class="sb-fixed">
                    <div class="row align-items-center m-0 w-100 sidebar-footer">
                        <div class="col-12">
                            <div class="accordion" id="cart-detail">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="cart-detail-header">
                                        <button class="accordion-button fw-bold ps-0 pe-0" type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#cart-detail-content"
                                                aria-expanded="true" aria-controls="cart-detail-content">
                                            <span>Total: $</span><span id="cart-total">0</span>
                                        </button>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'checkout' %}" class="btn custom-btn2">Continuar compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Términos y condiciones-->
<section>
    <div class="container ">
        <h1>Términos y Condiciones</h1>
        <h2>Condiciones de Uso:</h2>
        <hr>
        <h4>1. Aceptación de condiciones.</h4>
        <p>Al adquirir productos y servicios a través de MusicPro, se requerirá la aceptación de las siguientes cláusulas y el registro por parte del usuario junto con su contraseña.</p>

        <h4>2. Registro del Usuario o creación de cuenta</h4>
        <p>El registro de cada usuario se realizará completando y enviando el formulario proporcionado previamente. Una vez registrado,
            el usuario dispondrá de un nombre de usuario y contraseña que le permitirá acceder de manera personalizada, segura y confidencial a nuestro sitio.</p>

        <h4>3. Responsabilidad de su clave secreta.</h4>
        <p>El usuario es responsable de mantener la confidencialidad de su contraseña registrada en este sitio web. La contraseña es de uso personal e intransferible, y MusicPro no se hace responsable por su mal uso en caso de entrega a terceros.</p>

        <h4>4. Protección de datos de carácter personal.</h4>
        <p>De acuerdo con la ley N° 19.268 y sus modificaciones posteriores, el usuario tendrá en todo momento los derechos de información, rectificación y cancelación de sus datos personales. MusicPro no compartirá los datos personales de los usuarios registrados en su sitio con ninguna empresa o persona.</p>

        <h4>5. Los Precios y Fotos de los productos y servicios.</h4>
        <p>Los precios de los productos y servicios publicados en el sitio de MusicPro solo serán aplicables en este y no se aplicarán a otros canales de venta utilizados por MusicPro. Las imágenes mostradas en el carrito de compra son solo de referencia y pueden diferir del producto original.</p>

        <h4>6. Información Proporcionada por otros sitios web.</h4>
        <p>MusicPro no garantiza, respalda ni avala el acceso, la información o el contenido de otros sitios web o portales en caso de que se acceda a través de enlaces, banners u otros dispositivos disponibles en la red. MusicPro no se hace responsable de la información proporcionada por otros sitios web y las consecuencias derivadas de ello.</p>

        <h4>7. Empresa y Domicilio</h4>
        <p>Para cualquier contrato o relación legal derivada del uso de este sitio web o tienda virtual, se aplicará la legislación chilena. MusicPro,
            representada por Daniel Rebolledo, tiene su domicilio en Av. Del Parque 4980 Ofic. 438, Huechuraba, Santiago de Chile, y se somete a la jurisdicción de los tribunales de justicia de Chile.</p>

        <h4>8. Libertad para consultar oferta</h4>
        <p>La visita a este sitio web, donde se ofrecen ciertos productos, no implica ninguna obligación para el usuario, a menos que haya expresado de forma inequívoca y mediante acciones afirmativas su voluntad de aceptar una oferta específica del proveedor, según se indica en estos Términos y Condiciones.</p>

        <h4>9. Medios de pago que se podrán utilizar en este sitio</h4>
        <p>A menos que se señale una forma diferente para casos u ofertas específicos los productos y servicios
            ofrecidos en este sitio sólo pueden ser pagados con:</p>
        <ul style="list-style: none;">
            <li>Tarjetas de Débito (RedCompra)</li>
            <li>Tarjetas bancarias Visa, Mastercard, Diners Club y American Express International emitidas en Chile o en
                el extranjero siempre que mantengan un contrato vigente para tales efectos con el Proveedor. Las
                tarjetas emitidas en el extranjero, no admiten la modalidad de pago en cuotas. Todos los aspectos
                relativos al uso de estas tarjetas, como su fecha de emisión, caducidad, cupo, bloqueos, etc., se
                sujetarán, en relación con su emisor, a lo pactado en los respectivos Contratos de Apertura y Reglamento
                de Uso. De haber contradicción, predominará lo expresado en ese último instrumento.
            </li>
        </ul>

        <h4>10. Alcance de las Ofertas ofrecidas en el sitio</h4>
        <p>Los precios ofrecidos estarán disponibles mientras aparezcan en el sitio, y no se aplicarán a otros canales
            de venta del Proveedor, como tiendas físicas, catálogos, televisión, radio, u otros. El Proveedor podrá
            modificar las informaciones dadas en este sitio, incluyendo las referidas a mercaderías, servicios, precios,
            existencias y condiciones, en cualquier momento y sin previo aviso.</p>

        <h4>11. Promociones</h4>
        <p>Las promociones ofrecidas en este sitio no necesariamente serán las mismas que las ofrecidas en otros canales de venta del proveedor, a menos que se indique específicamente en este sitio o en la publicidad del proveedor para cada promoción.</p>

        <h4>12. Formación del Consentimiento en Contratos celebrados en el sitio.</h4>
        <p>Toda aceptación de venta a través de MusicPro estará sujeta a la condición suspensiva de que el proveedor confirme la transacción verificando lo siguiente:</p>
        <ul>
            <li>Disponibilidad de los productos en stock.</li>

            <li>Disponibilidad del medio de pago propuesto por el usuario.</li>

            <li>Coincidencia de los datos registrados por el usuario en el sitio con los proporcionados al aceptar la oferta.</li>
        </ul>

        <p>En caso de que alguna de estas condiciones no se cumpla, MusicPro enviará una notificación escrita a la dirección de correo electrónico registrada por el usuario, informando esta situación.</p>

    </div>

</section>
<!--Pie de pagina-->
<footer>
    <div class="container-fluid">
        <div class="row justify-content-center justify-content-sm-start align-items-center ps-3 pe-3 pt-3 pb-3 gap-3 gap-sm-0 footer-content-container">
            <div class="col-auto col-sm-6">
                <div class="row gap-2 justify-content-center justify-content-sm-start align-items-center">
                    <div class="col-12 col-md-auto text-center text-sm-start">
                        <h4>Síguenos en</h4>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-6">
                <div class="row gap-3 justify-content-center justify-content-sm-end shortcuts">
                    <div class="col-auto">
                        <a href="{% url 'terms' %}"><h4>Términos y condiciones</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'questions' %}"><h4>Preguntas frecuentes</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'stores' %}"><h4>Nuestras tiendas</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'contact' %}"><h4>Contacto</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto gx-0">
                <img src="{% static 'products/img/footer.png' %}" class="img-fluid" alt="galaxy">
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script src="https://kit.fontawesome.com/777d474a1b.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'products/js/script.js' %}"></script>
</body>
</html>
