{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Términos y condiciones : zuzuPlay</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'products/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'products/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'products/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'products/favicon/site.webmanifest' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">
</head>
<body class="terms">
<!--Menu superior-->
<header class="navbar-header">
    <div class="container-fluid fixed-top">
        <div class="row align-items-center pe-3 ps-3 gap-2 header-container">
            <div class="col-4 col-md-2 order-2 order-md-1 m-md-0 me-md-auto">
                <a href="{% url 'home' %}"><img src="{% static 'products/img/MusicPro.png' %}" class="img-fluid header-logo"
                                                alt="logo"></a>
            </div>
            <div class="col-auto col-md-auto order-1 order-md-2">
                <button id="sidebar-open-btn" type="button" class="btn custom-btn1">
                    <i class="fa-solid fa-bars header-icons"></i>
                </button>
            </div>
            <div class="col-12 col-md-5 order-3 order-md-3">
                <div class="row mb-2 mb-md-0 gx-0 justify-content-center search-bar-container">
                    <div class="col-auto">
                        <a href="#" class="search-bar-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    <div class="col">
                        <input type="text" class="search-bar-input">
                    </div>
                </div>
            </div>
            <div class="col-4 col-md-2 order-2 order-md-4 ms-auto">
                <div class="row justify-content-end flex-nowrap header-icons">
                    <div class="col-auto gx-0">
                        <div class="dropdown">

                            <button
                                    class="btn dropdown-toggle custom-btn1"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-mdb-toggle="dropdown"
                                    aria-expanded="false">
                                {% if user.is_authenticated %}
                                    Bienvenido/a <i class="fa-solid fa-circle-user"></i>
                                {% else %}
                                    <i class="fa-solid fa-circle-user"></i>
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if user.is_authenticated %}
                                    {% if user.is_staff %}
                                        <li><a class="dropdown-item" href="{% url 'administration' %}">Administrar
                                            web</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'orders' %}">Mis compras</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button id="cart-sidebar-open-btn" class="btn custom-btn1"><i
                                class="fa-solid fa-cart-shopping"></i>
                            <span id="cart-product-count"
                                  class="badge rounded-pill badge-notification bg-success"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Menu lateral - Menu -->
<section>
    <div id="sidebar-container" class="container-fluid">
        <div id="sidebar-bg" class="w-100 h-100"></div>
        <div id="sidebar" class="w-100 h-100">
            <div class="sidebar-content">
                <div class="sb-fixed">
                    <div class="row justify-content-between align-items-center m-0 sidebar-header">
                        <div class="col-auto">
                            <p>Tienda</p>
                        </div>
                        <div class="col-auto">
                            <button id="sidebar-close-btn" type="button" class="btn custom-btn1"><i
                                    class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sb-default">
                    <nav class="nav flex-column sidebar-body">
                        <p class="sidebar-subtitle mt-2">Categorías</p>
                        {% for cat in categorias %}
                            <button type="button" class="row gx-0 custom-btn1 category-btn">
                                <span class="col-auto">{{ cat.nombreCategoria }}</span>
                                <span class="col-auto ms-auto">
                            <i class="show-icon fa-solid fa-angle-down"></i>
                        </span>
                            </button>

                            <ul class="nav flex-column subcategories">
                                {% for sub in subcategorias %}
                                    {% if sub.categoria.idCategoria == cat.idCategoria %}
                                        <li class="nav-item">
                                            <a href="{{ sub.url }}" class="nav-link">{{ sub.nombreSubcategoria }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="nav-item">
                                    <a href="{{ cat.url }}" class="nav-link">Ver todo</a>
                                </li>
                            </ul>
                        {% endfor %}
                        <p class="sidebar-subtitle">Más</p>
                        <a href="#">Próximos lanzamientos</a>
                        <a href="#">Ofertas</a>
                        <hr>
                        <p class="sidebar-subtitle">Soporte</p>
                        <a href="{% url 'contact' %}">Contacto</a>
                        <a href="{% url 'questions' %}">Preguntas frecuentes</a>
                        <a href="{% url 'stores' %}">Nuestras tiendas</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Menu lateral - Carro -->
<section>
    <div id="cart-sidebar-container" class="container-fluid">
        <div id="cart-sidebar-bg" class="w-100 h-100"></div>
        <div id="cart-sidebar" class="w-100 h-100 p-0">
            <div class="sidebar-content">
                <div class="sb-fixed">
                    <div class="row justify-content-between align-items-center m-0 w-100 sidebar-header">
                        <div class="col-auto">
                            <p>Carrito</p>
                        </div>
                        <div class="col-auto">
                            <button id="cart-sidebar-close-btn" type="button" class="btn custom-btn1"><i
                                    class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="cart-sidebar-scroll" class="sb-default">
                    <nav id="cart-sidebar-body" class="nav flex-column sidebar-body">
                    </nav>
                </div>
                <div class="sb-fixed">
                    <div class="row align-items-center m-0 w-100 sidebar-footer">
                        <div class="col-12">
                            <div class="accordion" id="cart-detail">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="cart-detail-header">
                                        <button class="accordion-button fw-bold ps-0 pe-0" type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#cart-detail-content"
                                                aria-expanded="true" aria-controls="cart-detail-content">
                                            <span>Total: $</span><span id="cart-total">0</span>
                                        </button>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'checkout' %}" class="btn custom-btn2">Continuar compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Términos y condiciones-->
<section>
    <div class="container ">
        <h1>Términos y Condiciones</h1>
        <h2>Condiciones de Uso:</h2>
        <hr>
        <h4>1. Aceptación de condiciones.</h4>
            <p>Será requisito necesario para la adquisición de productos y servicios a través de ZuZuPlay.cl, la aceptación de las siguientes cláusulas y el registro por parte del usuario conjuntamente con su clave de acceso.</p>
            
        <h4>2. Registro del Usuario o creación de cuenta</h4>
            <p>El registro de cada usuario se realizará completando y suscribiendo los antecedentes solicitados en el formulario que se le solicitará completar y enviar previamente, el cual se efectuará automáticamente haciendo click en Registrarme. El usuario una vez registrado dispondrá de un nombre y contraseña o clave secreta que le permitirá el acceso personalizado, seguro y confidencial para realizar sus operaciones en nuestro sitio.</p> 

        <h4>3. Responsabilidad de su clave secreta.</h4>
            <p>El Usuario asume totalmente la responsabilidad por el mantenimiento y la confidencialidad de su clave secreta registrada en este sitio web, la cual le permitirá hacer compras, solicitar servicios y obtener información. Dicha clave es de uso personal e intransferible y su entrega a terceros no involucra responsabilidad para ZuZuPlay.cl en caso de mala utilización.</p>  

        <h4>4. Protección de datos de carácter personal.</h4>
            <p >En conformidad a la ley N° 19.268 publicada en el diario oficial el 28-08-99 y sus modificaciones posteriores, el usuario dispondrá en todo momento de los derechos de información, rectificación y cancelación de los datos personales. ZuZuPlay.cl no traspasara de modo alguno a ninguna empresa o persona los antecedentes personales de los usuarios registrados en su sitio.</p>

        <h4>5. Los Precios y Fotos de los productos y servicios.</h4>
            <p>Los precios de los productos y servicios publicados por ZuZuPlay.cl.cl en su sitio, solo tendrán vigencia y aplicación en este y no serán aplicables a otros canales de venta utilizados por ZuZuPlay.cl.cl S.A. Así también se deja establecido que las fotos publicadas en el carro de compra, son sólo referenciales, y pueden tener alguna diferencia con el producto original.</p>

        <h4>6. Información Proporcionada por otros sitios web.</h4>
            <p>ZuZuPlay.cl, no garantiza, avala ni respalda de ninguna forma el acceso, información o contenido de cualquier otro sitio web o portal en los casos que dichos accesos se efectúen mediante link, banner o mediante cualquier otro dispositivo disponible en la red. ZuZuPlay.clcarece de responsabilidad sobre la información proporcionada por otros sitios web y las consecuencias que de ello se deriven.</p>

        <h4>7. Empresa y Domicilio</h4>
            <p>Para todos los efectos derivados, de contratos que se celebren y las relaciones jurídicas que emanen de la utilización de este sitio web o tienda virtual quedarán sujetas a la legislación chilena, para ello ZuZuPlay S.A. Rut 76.411.180-K, Representada por Daniel Zurita  y Luciano fijan su domicilio en Av. Del Parque 4980 Ofic. 438, Huechuraba, Santiago de Chile y se someten a la jurisdicción de sus tribunales de justicia.</p>

        <h4>8. Libertad para consultar oferta</h4>
            <p>La sola visita de este sitio web, en el cual se ofrecen determinados productos, no impone al Usuario obligación alguna, a menos que haya expresado en forma inequívoca y mediante actos positivos su voluntad de aceptar una determinada oferta del Proveedor, en la forma indicada en estos Términos y Condiciones.</p>

        <h4>9. Medios de pago que se podrán utilizar en este sitio</h4>
            <p>A menos que se señale una forma diferente para casos u ofertas específicos los productos y servicios ofrecidos en este sitio sólo pueden ser pagados con:</p>
            <ul style="list-style: none;" >
                <li>Tarjetas de Débito (RedCompra)</li>
                <li>Tarjetas bancarias Visa, Mastercard, Diners Club y American Express International emitidas en Chile o en el extranjero siempre que mantengan un contrato vigente para tales efectos con el Proveedor. Las tarjetas emitidas en el extranjero, no admiten la modalidad de pago en cuotas. Todos los aspectos relativos al uso de estas tarjetas, como su fecha de emisión, caducidad, cupo, bloqueos, etc., se sujetarán, en relación con su emisor, a lo pactado en los respectivos Contratos de Apertura y Reglamento de Uso. De haber contradicción, predominará lo expresado en ese último instrumento.</li>
            </ul>

        <h4>10. Alcance de las Ofertas ofrecidas en el sitio</h4>
            <p>Los precios ofrecidos estarán disponibles mientras aparezcan en el sitio, y no se aplicarán a otros canales de venta del Proveedor, como tiendas físicas, catálogos, televisión, radio, u otros. El Proveedor podrá modificar las informaciones dadas en este sitio, incluyendo las referidas a mercaderías, servicios, precios, existencias y condiciones, en cualquier momento y sin previo aviso.</p>

        <h4>11. Promociones</h4>
            <p >Las promociones que se ofrezcan en este sitio no son necesariamente las mismas que ofrezcan otros canales de venta del Proveedor, a menos que se exprese en este sitio o en la publicidad del Proveedor para cada promoción.</p>

        <h4>12. Formación del Consentimiento en Contratos celebrados en el sitio.</h4>
            <p>Toda aceptación de ventas a través de Microplay.cl quedará sujeta a la condición suspensiva de que el Proveedor confirme la transacción, para lo cual verificará:</p>
            <ul >
                <li>Que aún dispone de las especies en stock.</li>
        
                <li>Que el medio de pago propuesto por el Usuario está disponible.</li>
                
                <li>Que los datos registrados por el Usuario en el sitio coinciden con los dados al aceptar la oferta.</li>
            </ul>

        <p> Si alguna de estas condiciones no se cumplen Microplay.cl enviará una notificación escrita a la misma dirección electrónica que haya registrado el usuario notificando esta condición.</p>
    
    </div>

</section>
<!--Pie de pagina-->
<footer>
    <div class="container-fluid">
        <div class="row justify-content-center justify-content-sm-start align-items-center ps-3 pe-3 pt-3 pb-3 gap-3 gap-sm-0 footer-content-container">
            <div class="col-auto col-sm-6">
                <div class="row gap-2 justify-content-center justify-content-sm-start align-items-center">
                    <div class="col-12 col-md-auto text-center text-sm-start">
                        <h4>Síguenos en</h4>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-6">
                <div class="row gap-3 justify-content-center justify-content-sm-end shortcuts">
                    <div class="col-auto">
                        <a href="{% url 'terms' %}"><h4>Términos y condiciones</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'questions' %}"><h4>Preguntas frecuentes</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'stores' %}"><h4>Nuestras tiendas</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'contact' %}"><h4>Contacto</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto gx-0">
                <img src="{% static 'products/img/footer.png' %}" class="img-fluid" alt="galaxy">
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script src="https://kit.fontawesome.com/777d474a1b.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'products/js/script.js' %}"></script>
</body>
</html>
