{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acceso denegado : zuzuPlay</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'products/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'products/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'products/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'products/favicon/site.webmanifest' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap"
          rel="stylesheet">
</head>

<body class="denied">
<!--Menu lateral - Menu -->
<section>
    <div id="sidebar-container" class="container-fluid">
        <div id="sidebar-bg" class="w-100 h-100"></div>
        <div id="sidebar" class="w-100 h-100">
            <div class="sidebar-content">
                <div class="sb-fixed">
                    <div class="row justify-content-between align-items-center m-0 sidebar-header">
                        <div class="col-auto">
                            <p>Tienda</p>
                        </div>
                        <div class="col-auto">
                            <button id="sidebar-close-btn" type="button" class="btn custom-btn1"><i
                                    class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sb-default">
                    <nav class="nav flex-column sidebar-body">
                        <p class="sidebar-subtitle mt-2">Categorías</p>
                        {% for cat in categorias %}
                            <button type="button" class="row gx-0 custom-btn1 category-btn">
                                <span class="col-auto">{{ cat.nombreCategoria }}</span>
                                <span class="col-auto ms-auto">
                            <i class="show-icon fa-solid fa-angle-down"></i>
                        </span>
                            </button>

                            <ul class="nav flex-column subcategories">
                                {% for sub in subcategorias %}
                                    {% if sub.categoria.idCategoria == cat.idCategoria %}
                                        <li class="nav-item">
                                            <a href="{{ sub.url }}" class="nav-link">{{ sub.nombreSubcategoria }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="nav-item">
                                    <a href="{{ cat.url }}" class="nav-link">Ver todo</a>
                                </li>
                            </ul>
                        {% endfor %}
                        <p class="sidebar-subtitle">Más</p>
                        <a href="#">Próximos lanzamientos</a>
                        <a href="#">Ofertas</a>
                        <hr>
                        <p class="sidebar-subtitle">Soporte</p>
                        <a href="{% url 'contact' %}">Contacto</a>
                        <a href="{% url 'questions' %}">Preguntas frecuentes</a>
                        <a href="{% url 'stores' %}">Nuestras tiendas</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Menu lateral - Carro -->
<section>
    <div id="cart-sidebar-container" class="container-fluid">
        <div id="cart-sidebar-bg" class="w-100 h-100"></div>
        <div id="cart-sidebar" class="w-100 h-100 p-0">
            <div class="sidebar-content">
                <div class="sb-fixed">
                    <div class="row justify-content-between align-items-center m-0 w-100 sidebar-header">
                        <div class="col-auto">
                            <p>Carrito</p>
                        </div>
                        <div class="col-auto">
                            <button id="cart-sidebar-close-btn" type="button" class="btn custom-btn1"><i
                                    class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="cart-sidebar-scroll" class="sb-default">
                    <nav id="cart-sidebar-body" class="nav flex-column sidebar-body">
                    </nav>
                </div>
                <div class="sb-fixed">
                    <div class="row align-items-center m-0 w-100 sidebar-footer">
                        <div class="col-12">
                            <div class="accordion" id="cart-detail">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="cart-detail-header">
                                        <button class="accordion-button fw-bold ps-0 pe-0" type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#cart-detail-content"
                                                aria-expanded="true" aria-controls="cart-detail-content">
                                            <span>Total: $</span><span id="cart-total">0</span>
                                        </button>
                                    </h2>
                                    <div id="cart-detail-content" class="accordion-collapse collapse"
                                         aria-labelledby="cart-detail-header" data-mdb-parent="#cart-detail">
                                        <div id="cart-detail-body" class="accordion-body ps-0 pe-0">
                                            <form action="" class="row">
                                                <div class="col-8">
                                                    {% for field in cuponForm %}
                                                        <div class="form-outline">
                                                            {{ field }}
                                                            <label class="form-label"
                                                                   for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                            <div class="invalid-feedback">Error</div>
                                                            <div class="valid-feedback">Success</div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-4">
                                                    <button id="add-cupon" type="button"
                                                            class="btn custom-btn2">Aplicar
                                                    </button>
                                                    <button id="remove-cupon" type="button"
                                                            class="btn custom-btn2 red"
                                                            style="display: none">Quitar
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'checkout' %}" class="btn custom-btn2">Continuar compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Contacto-->
<div class="d-flex flex-column page-wrapper">
    <!--Menu superior-->
    <header class="navbar-header">
        <div class="container-fluid fixed-top">
            <div class="row align-items-center pe-3 ps-3 gap-2 header-container">
                <div class="col-4 col-md-2 order-2 order-md-1 m-md-0 me-md-auto">
                    <a href="{% url 'home' %}"><img src="{% static 'products/img/logo.png' %}"
                                                    class="img-fluid header-logo"
                                                    alt="logo"></a>
                </div>
                <div class="col-auto col-md-auto order-1 order-md-2">
                    <button id="sidebar-open-btn" type="button" class="btn custom-btn1">
                        <i class="fa-solid fa-bars header-icons"></i>
                    </button>
                </div>
                <div class="col-12 col-md-5 order-3 order-md-3">
                    <div class="row mb-2 mb-md-0 gx-0 justify-content-center search-bar-container">
                        <div class="col-auto">
                            <a href="#" class="search-bar-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
                        </div>
                        <div class="col">
                            <input type="text" class="search-bar-input">
                        </div>
                    </div>
                </div>
                <div class="col-4 col-md-2 order-2 order-md-4 ms-auto">
                    <div class="row justify-content-end flex-nowrap header-icons">
                        <div class="col-auto gx-0">
                            <div class="dropdown">

                                <button
                                        class="btn dropdown-toggle custom-btn1"
                                        type="button"
                                        id="dropdownMenuButton"
                                        data-mdb-toggle="dropdown"
                                        aria-expanded="false">
                                    {% if user.is_authenticated %}
                                        Bienvenido/a <i class="fa-solid fa-circle-user"></i>
                                    {% else %}
                                        <i class="fa-solid fa-circle-user"></i>
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% if user.is_authenticated %}
                                        {% if user.is_staff %}
                                            <li><a class="dropdown-item" href="{% url 'administration' %}">Administrar
                                                web</a></li>
                                        {% endif %}
                                        <li><a class="dropdown-item" href="{% url 'orders' %}">Mis compras</a></li>
                                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                                    {% else %}
                                        <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button id="cart-sidebar-open-btn" class="btn custom-btn1"><i
                                    class="fa-solid fa-cart-shopping"></i>
                                <span id="cart-product-count"
                                      class="badge rounded-pill badge-notification bg-success"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Formulario de contacto-->
    <div class="container-fluid flex-grow-1">
        <div class="row mt-5 mb-5 gap-3 justify-content-center align-items-center">
            <div class="col-12">
                <h2 class="text-center" style="font-weight: bold;">Permiso denegado</h2>
                <h3 class="text-center">No tienes permiso para entrar en este sitio.</h3>
            </div>
            <div class="col-auto">
                <i class="fa-solid fa-person-military-pointing fa-6x"></i>
            </div>
        </div>
    </div>
    <!--Pie de pagina-->
    <footer>
        <div class="container-fluid">
            <div class="row justify-content-center justify-content-sm-start align-items-center ps-3 pe-3 pt-3 pb-3 gap-3 gap-sm-0 footer-content-container">
                <div class="col-auto col-sm-6">
                    <div class="row gap-2 justify-content-center justify-content-sm-start align-items-center">
                        <div class="col-12 col-md-auto text-center text-sm-start">
                            <h4>Síguenos en</h4>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                               role="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                               role="button">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                               role="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-sm-6">
                    <div class="row gap-3 justify-content-center justify-content-sm-end shortcuts">
                        <div class="col-auto">
                            <a href="{% url 'terms' %}"><h4>Términos y condiciones</h4></a>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'questions' %}"><h4>Preguntas frecuentes</h4></a>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'stores' %}"><h4>Nuestras tiendas</h4></a>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'contact' %}"><h4>Contacto</h4></a>
                        </div>
                        <div class="col-auto">
                            <a href="{% url 'home' %}"><h4>Inicio</h4></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-auto gx-0">
                    <img src="{% static 'products/img/footer galaxy.png' %}" class="img-fluid" alt="galaxy">
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script src="https://kit.fontawesome.com/777d474a1b.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'products/js/script.js' %}"></script>
</body>
</html>