{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio : zuzuPlay</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'products/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'products/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'products/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'products/favicon/site.webmanifest' %}">

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap"
          rel="stylesheet">
</head>
<body class="home">
<!--Menu superior-->
<header class="navbar-header">
    <div class="container-fluid fixed-top">
        <div class="row align-items-center pe-3 ps-3 gap-2 header-container">
            <div class="col-4 col-md-2 order-2 order-md-1 m-md-0 me-md-auto">
                <a href="{% url 'home' %}"><img src="{% static 'products/img/logo.png' %}" class="img-fluid header-logo"
                                                alt="logo"></a>
            </div>
            <div class="col-auto col-md-auto order-1 order-md-2">
                <button id="sidebar-open-btn" type="button" class="btn custom-btn1">
                    <i class="fa-solid fa-bars header-icons"></i>
                </button>
            </div>
            <div class="col-12 col-md-5 order-3 order-md-3">
                <div class="row mb-2 mb-md-0 gx-0 justify-content-center search-bar-container">
                    <div class="col-auto">
                        <a href="#" class="search-bar-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    <div class="col">
                        <input type="text" class="search-bar-input">
                    </div>
                </div>
            </div>
            <div class="col-4 col-md-2 order-2 order-md-4 ms-auto">
                <div class="row justify-content-end flex-nowrap header-icons">
                    <div class="col-auto gx-0">
                        <div class="dropdown">

                            <button
                                    class="btn dropdown-toggle custom-btn1"
                                    type="button"
                                    id="dropdownMenuButton"
                                    data-mdb-toggle="dropdown"
                                    aria-expanded="false">
                                {% if user.is_authenticated %}
                                    Bienvenido/a <i class="fa-solid fa-circle-user"></i>
                                {% else %}
                                    <i class="fa-solid fa-circle-user"></i>
                                {% endif %}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                {% if user.is_authenticated %}
                                    {% if user.is_staff %}
                                        <li><a class="dropdown-item" href="{% url 'administration' %}">Administrar
                                            web</a></li>
                                    {% endif %}
                                    <li><a class="dropdown-item" href="{% url 'orders' %}">Mis compras</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                                {% else %}
                                    <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button id="cart-sidebar-open-btn" class="btn custom-btn1"><i
                                class="fa-solid fa-cart-shopping"></i>
                            <span id="cart-product-count"
                                  class="badge rounded-pill badge-notification bg-success"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Menu lateral - Menu -->
<section>
    <div id="sidebar-container" class="container-fluid">
        <div id="sidebar-bg" class="w-100 h-100"></div>
        <div id="sidebar" class="w-100 h-100">
            <div class="sidebar-content">
                <div class="sb-fixed">
                    <div class="row justify-content-between align-items-center m-0 sidebar-header">
                        <div class="col-auto">
                            <p>Tienda</p>
                        </div>
                        <div class="col-auto">
                            <button id="sidebar-close-btn" type="button" class="btn custom-btn1"><i
                                    class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="sb-default">
                    <nav class="nav flex-column sidebar-body">
                        <p class="sidebar-subtitle mt-2">Categorías</p>
                        {% for cat in categorias %}
                            <button type="button" class="row gx-0 custom-btn1 category-btn">
                                <span class="col-auto">{{ cat.nombreCategoria }}</span>
                                <span class="col-auto ms-auto">
                            <i class="show-icon fa-solid fa-angle-down"></i>
                        </span>
                            </button>

                            <ul class="nav flex-column subcategories">
                                {% for sub in subcategorias %}
                                    {% if sub.categoria.idCategoria == cat.idCategoria %}
                                        <li class="nav-item">
                                            <a href="{{ sub.url }}" class="nav-link">{{ sub.nombreSubcategoria }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="nav-item">
                                    <a href="{{ cat.url }}" class="nav-link">Ver todo</a>
                                </li>
                            </ul>
                        {% endfor %}
                        <p class="sidebar-subtitle">Más</p>
                        <a href="#">Próximos lanzamientos</a>
                        <a href="#">Ofertas</a>
                        <hr>
                        <p class="sidebar-subtitle">Soporte</p>
                        <a href="{% url 'contact' %}">Contacto</a>
                        <a href="{% url 'questions' %}">Preguntas frecuentes</a>
                        <a href="{% url 'stores' %}">Nuestras tiendas</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Menu lateral - Carro -->
<section>
    <div id="cart-sidebar-container" class="container-fluid">
        <div id="cart-sidebar-bg" class="w-100 h-100"></div>
        <div id="cart-sidebar" class="w-100 h-100 p-0">
            <div class="sidebar-content">
                <div class="sb-fixed">
                    <div class="row justify-content-between align-items-center m-0 w-100 sidebar-header">
                        <div class="col-auto">
                            <p>Carrito</p>
                        </div>
                        <div class="col-auto">
                            <button id="cart-sidebar-close-btn" type="button" class="btn custom-btn1"><i
                                    class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="cart-sidebar-scroll" class="sb-default">
                    <nav id="cart-sidebar-body" class="nav flex-column sidebar-body">
                    </nav>
                </div>
                <div class="sb-fixed">
                    <div class="row align-items-center m-0 w-100 sidebar-footer">
                        <div class="col-12">
                            <div class="accordion" id="cart-detail">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="cart-detail-header">
                                        <button class="accordion-button fw-bold ps-0 pe-0" type="button"
                                                data-mdb-toggle="collapse" data-mdb-target="#cart-detail-content"
                                                aria-expanded="true" aria-controls="cart-detail-content">
                                            <span>Total: $</span><span id="cart-total">0</span>
                                        </button>
                                    </h2>
                                    <div id="cart-detail-content" class="accordion-collapse collapse"
                                         aria-labelledby="cart-detail-header" data-mdb-parent="#cart-detail">
                                        <div id="cart-detail-body" class="accordion-body ps-0 pe-0">
                                            <form action="" class="row">
                                                <div class="col-8">
                                                    {% for field in cuponForm %}
                                                        <div class="form-outline">
                                                            {{ field }}
                                                            <label class="form-label"
                                                                   for="{{ field.id_for_label }}">{{ field.label }}</label>
                                                            <div class="invalid-feedback">Error</div>
                                                            <div class="valid-feedback">Success</div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="col-4">
                                                    <button id="add-cupon" type="button"
                                                            class="btn custom-btn2">Aplicar</button>
                                                    <button id="remove-cupon" type="button"
                                                            class="btn custom-btn2 red"
                                                            style="display: none">Quitar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'checkout' %}" class="btn custom-btn2">Continuar compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Categorias en circulos-->
<section>
    <div class="container-fluid circles-container">
        <div id="promo-categories" class="row justify-content-center">
            <div class="col-4 col-md-auto circle mb-3">
                <a href="#">
                    <div class="circle-img mb-1">
                        <img src="{% static 'products/img/xbxs.png' %}" class="img-fluid" alt="xbxs">
                    </div>
                    <span class="two-line-wrapper">Xbox Series X|S</span>
                </a>
            </div>
            <div class="col-4 col-md-auto circle mb-3">
                <a href="#">
                    <div class="circle-img mb-1">
                        <img src="{% static 'products/img/nsw.png' %}" class="img-fluid" alt="nsw">
                    </div>
                    <span class="two-line-wrapper">Nintendo Switch</span>
                </a>
            </div>
            <div class="col-4 col-md-auto circle mb-3">
                <a href="#">
                    <div class="circle-img mb-1">
                        <img src="{% static 'products/img/ps5.png' %}" class="img-fluid" alt="ps5">
                    </div>
                    <span class="two-line-wrapper">PlayStation 5</span>
                </a>
            </div>
            <div class="col-4 col-md-auto circle">
                <a href="#">
                    <div class="circle-img mb-1">
                        <img src="{% static 'products/img/headphones.png' %}" class="img-fluid" alt="accesorios">
                    </div>
                    <span class="two-line-wrapper">Accesorios</span>
                </a>
            </div>
            <div class="col-4 col-md-auto circle">
                <a href="#">
                    <div class="circle-img mb-1">
                        <img src="{% static 'products/img/deals.png' %}" class="img-fluid" alt="ofertas">
                    </div>
                    <span class="two-line-wrapper">Ofertas de videojuegos</span>
                </a>
            </div>
            <div class="col-4 col-md-auto circle">
                <a href="#">
                    <div class="circle-img mb-1">
                        <img src="{% static 'products/img/pre-order.png' %}" class="img-fluid" alt="preventa">
                    </div>
                    <span class="two-line-wrapper">Preventa de videojuegos</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!--Carousel principal-->
<section>
    <div class="swiper swiper1">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href=""><img src="{% static 'products/img/kirby.png' %}" class="img-fluid" alt="kirby preventa"></a>
            </div>
            <div class="swiper-slide">
                <img src="{% static 'products/img/elden ring.png' %}" class="img-fluid" alt="elden ring">
            </div>
            <div class="swiper-slide">
                <img src="{% static 'products/img/w2k22.png' %}" class="img-fluid" alt="w2k22">
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination1"></div>

        <div class="swiper-button-prev swiper1-nav-btns"></div>
        <div class="swiper-button-next swiper1-nav-btns"></div>
    </div>
</section>
<!--Populares-->
<section>
    <div class="container-fluid cards-container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>Los más populares</h2>
            </div>
            <div class="col-6 col-md-auto card popular-card">
                <a href="">
                    <img src="{% static 'products/img/kirby card.png' %}" class="img-fluid" alt="ps5">
                    <h3>Kirby and the Forgotten Land</h3>
                </a>
            </div>
            <div class="col-6 col-md-auto card popular-card">
                <a href="#">
                    <img src="{% static 'products/img/legosw card.png' %}" class="img-fluid" alt="ps5">
                    <h3>LEGO Star Wars: The Skywalker Saga</h3>
                </a>
            </div>
            <div class="col-6 col-md-auto card popular-card">
                <a href="#">
                    <img src="{% static 'products/img/elden card.png' %}" class="img-fluid" alt="ps5">
                    <h3>Elden Ring</h3>
                </a>
            </div>
            <div class="col-6 col-md-auto card popular-card">
                <a href="#">
                    <img src="{% static 'products/img/hfw card.png' %}" class="img-fluid" alt="ps5">
                    <h3>Horizon Forbidden West</h3>
                </a>
            </div>
        </div>
    </div>
</section>
<!--Publicidad-->
<section>
    <div class="container-fluid ads-container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a href="#">
                    <img src="{% static 'products/img/ad 1.png' %}" class="img-fluid" alt="ad 1">
                </a>
            </div>
            <div class="col-auto">
                <div class="row h-100 flex-column justify-content-between">
                    <div class="col-md-auto">
                        <a href="#">
                            <img src="{% static 'products/img/ad 2.png' %}" class="img-fluid" alt="ad 2">
                        </a>
                    </div>
                    <div class="col-auto">
                        <a href="#">
                            <img src="{% static 'products/img/ad 3.png' %}" class="img-fluid" alt="ad 3">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Recién llegados-->
<section>
    <div class="container-fluid item-carousel">
        <div class="subtitle text-center">
            <h2>Recién llegados</h2>
        </div>
        <div class="swiper swiper2">
            <div class="swiper-wrapper">
                {% for prod in nuevosProductos %}
                    <div class="swiper-slide">
                        <div class="card item-card">
                            <a href="{{ prod.url }}" class="col-5 col-md-auto align-self-center">
                                <img src="{{ prod.imagenProducto.cdn_url }}" class="card-img-top img-fluid"
                                     alt="{{ prod.nombreProducto }}">
                            </a>
                            <div class="col-7 col-md-auto card-body">
                                <p class="item-platform text-center">{{ prod.plataforma.idPlataforma }}</p>
                                <div class="item-title-wrapper text-center">
                                    <a href="{{ prod.url }}">
                                        <span>{{ prod.nombreProducto }}</span>
                                    </a>
                                </div>
                                <p class="item-date text-center"><br></p>
                                <h5 class="text-center">${{ prod.precioProducto }}</h5>
                                <input name="idProducto" type="hidden" value="{{ prod.idProducto }}">
                                <form name="addToCartForm" action="" class="row justify-content-center">
                                    {% csrf_token %}
                                    {{ carritoProductoForm }}
                                    <button type="submit" class="col-md-auto btn-rounded custom-btn2">
                                        <span>Añadir al carro</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="swiper-slide">
                    <div class="card item-card-v-all">
                        <div class="row h-100 justify-content-center align-items-center">
                            <a href="#" class="col-auto text-center"><h4>Ver todo</h4></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev swiper2-prev">
                <i class="fa-solid fa-circle-chevron-left arrow-icon"></i>
            </div>
            <div class="swiper-button-next swiper2-next">
                <i class="fa-solid fa-circle-chevron-right arrow-icon"></i>
            </div>

            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>
<!--Próximamente-->
<section>
    <div class="container-fluid item-carousel">
        <div class="subtitle text-center">
            <h2>Próximamente</h2>
        </div>
        <div class="swiper swiper3">
            <div class="swiper-wrapper">
                {% for prod in productosPreventa %}
                    <div class="swiper-slide">
                        <div class="card item-card">
                            <a href="{{ prod.url }}" class="col-5 col-md-auto align-self-center">
                                <img src="{{ prod.imagenProducto.cdn_url }}" class="card-img-top img-fluid"
                                     alt="{{ prod.nombreProducto }}">
                            </a>
                            <div class="col-7 col-md-auto card-body">
                                <p class="item-platform text-center">{{ prod.plataforma.idPlataforma }}</p>
                                <div class="item-title-wrapper text-center">
                                    <a href="{{ prod.url }}">
                                        <span>{{ prod.nombreProducto }}</span>
                                    </a>
                                </div>
                                <p class="item-date text-center">Preventa: {{ prod.fechaLanProducto|date:'d/m/Y' }}</p>
                                <h5 class="text-center">${{ prod.precioProducto }}</h5>
                                <input name="idProducto" type="hidden" value="{{ prod.idProducto }}">
                                <form name="addToCartForm" action="" class="row justify-content-center">
                                    {% csrf_token %}
                                    {{ carritoProductoForm }}
                                    <button type="submit" class="col-md-auto btn-rounded custom-btn2">
                                        <span>Añadir al carro</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="swiper-slide">
                    <div class="card item-card-v-all">
                        <div class="row h-100 justify-content-center align-items-center">
                            <a href="#" class="col-auto text-center"><h4>Ver todo</h4></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev swiper2-prev">
                <i class="fa-solid fa-circle-chevron-left arrow-icon"></i>
            </div>
            <div class="swiper-button-next swiper2-next">
                <i class="fa-solid fa-circle-chevron-right arrow-icon"></i>
            </div>

            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</section>
<!--Pie de pagina-->
<footer>
    <div class="container-fluid">
        <div class="row justify-content-center justify-content-sm-start align-items-center ps-3 pe-3 pt-3 pb-3 gap-3 gap-sm-0 footer-content-container">
            <div class="col-auto col-sm-6">
                <div class="row gap-2 justify-content-center justify-content-sm-start align-items-center">
                    <div class="col-12 col-md-auto text-center text-sm-start">
                        <h4>Síguenos en</h4>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-6">
                <div class="row gap-3 justify-content-center justify-content-sm-end shortcuts">
                    <div class="col-auto">
                        <a href="{% url 'terms' %}"><h4>Términos y condiciones</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'questions' %}"><h4>Preguntas frecuentes</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'stores' %}"><h4>Nuestras tiendas</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'contact' %}"><h4>Contacto</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto gx-0">
                <img src="{% static 'products/img/footer galaxy.png' %}" class="img-fluid" alt="galaxy">
            </div>
        </div>
    </div>
</footer>
<!--Suscripcion-->
<section>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center pt-3 pt-md-0 ps-3 pe-3 subs-content-container">
            <div class="col-12 col-md-auto text-center gx-0 mt-md-3 mb-md-3 two-line-wrapper">
                <h4>Suscríbete para recibir descuentos especiales y promociones exclusivas</h4>
            </div>
            <div class="col-auto">
                <form method="post" action="" id="subs-form"
                      class="row justify-content-center align-items-center mt-3 mb-3" novalidate>
                    {% csrf_token %}

                    <div class="col">
                        {% for field in form %}
                            <div class="form-outline">
                                {{ field }}
                                <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                <div class="invalid-feedback">Error</div>
                                <div class="valid-feedback">Success</div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-auto gx-0">
                        <button type="submit" class="btn btn-primary btn-floating" style="background-color: #8083ff;">
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script src="https://kit.fontawesome.com/777d474a1b.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'products/js/script.js' %}"></script>
</body>
</html>