{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Preguntas frecuentes : zuzuPlay</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap"
          rel="stylesheet">
</head>
<body class="questions">
<!--Menu superior-->
<header class="navbar-header">
    <div class="container-fluid fixed-top">
        <div class="row align-items-center pe-3 ps-3 header-container">
            <div class="col-4 col-md-2 order-2 order-md-1 m-md-0 me-md-auto">
                <a href="{% url 'home' %}"><img src="{% static 'products/img/logo.png' %}" class="img-fluid header-logo" alt="logo"></a>
            </div>
            <div class="col-auto col-md-auto order-1 order-md-2">
                <button id="sidebar-open-btn" type="button" class="btn custom-btn1">
                    <i class="fa-solid fa-bars header-icons"></i>
                </button>
            </div>
            <div class="col-12 col-md-5 order-3 order-md-3">
                <div class="row mb-2 mb-md-0 gx-0 justify-content-center search-bar-container">
                    <div class="col-auto">
                        <a href="#" class="search-bar-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                    <div class="col">
                        <input type="text" class="search-bar-input">
                    </div>
                </div>
            </div>
            <div class="col-4 col-md-2 order-2 order-md-4 ms-auto">
                <div class="row justify-content-end flex-nowrap header-icons">
                    <div class="col-auto gx-1">
                        <a href="{% url 'login' %}"><i class="fa-solid fa-circle-user"></i></a>
                    </div>
                    <div class="col-auto">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Preguntas frecuentes-->
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col questions-box">
            <h1 class="title">Preguntas frecuentes</h1>
            <hr>
            <h4>¿Dónde tienen stock de un producto?</h4>
            <p>Entra a ZuZuPlay.cl/, busca el producto que necesitas, ingresa a la ficha, haz clic en el botón VER STOCK
                EN TIENDA y podrás ver dónde encontrar tu producto. También puedes llamar al (+56) 222150900.</p>

            <h4>¿Dónde están ubicadas las tiendas?</h4>
            <p>Estamos ubicados en los principales malls de nuestro país.
                Para ver las direcciones de nuestras tiendas, ingresa aquí: <a
                        href="{% url 'stores' %}">zuzuPlay.cl/Tiendas.</a></p>

            <h4>¿Cuál es el horario de atención?</h4>
            <p>Atendemos de lunes a domingo, en horario de mall. Para ver el horario de cada tienda, ingresa aquí: <a
                    href="{% url 'stores' %}">zuzuPlay.cl/Tiendas.</a></p>

            <h4>¿Cuáles son los medios de pago en tienda?</h4>
            <p>Puedes pagar con efectivo, tarjeta débito o tarjetas de crédito bancarias.</p>

            <h4>¿Puedo pagar con efectivo y la diferencia con tarjeta?</h4>
            <p>Si, puedes combinar ambas formas de pago.</p>

            <h4>¿Cuáles son los medios de pago en la página web?</h4>
            <p>Puedes pagar con tarjeta de débito, tarjetas de crédito bancarias, por Webpay o con tarjetas de casas
                comerciales a través de servipag.com.</p>

            <h4>¿Puedo pedir factura en vez de boleta?</h4>
            <p>Si, debes presentar el rut vigente de la empresa y tu carnet de identidad.</p>

            <h4>¿Cuál es la garantía de los productos?</h4>
            <p>La garantía es de 6 meses (Por compras realizadas a partir del 24 de marzo del 2022) desde la fecha de
                compra. En caso de falla de producto, debes presentar la boleta o factura en la sucursal que más te
                acomode.</p>

            <h4>¿Qué puedo hacer si mi producto falla?</h4>
            <p>Si estás dentro del plazo de 6 meses (por compras realizadas a partir del 24 de marzo de 2022) desde la
                fecha de compra, debes presentar el producto en cualquier sucursal Microplay. Para ejercer la garantía,
                debes presentar boleta, factura o documento que acredite la compra en Microplay, y derivaremos tu
                producto al servicio técnico correspondiente.</p>

            <h4>¿Puedo pedir cambio o devolución de dinero si mi producto falla?</h4>
            <p>Sí se puede, previa evaluación del servicio Técnico del producto.</p>

            <h4>¿Puedo pedir copia de boleta?</h4>
            <p>No, el Servicio de Impuestos Internos (SII) no autoriza a emitir copias de boletas fiscales.</p>

            <h4>¿Puedo cambiar un producto si no me gustó?</h4>
            <p>Los cambios se realizan solo por falla de fabricación del producto o si este se encuentra sellado,
                presentando la boleta o factura correspondiente.</p>

            <h4>¿Cómo realizo una preventa en tienda?</h4>
            <p>Debes abonar $5.000 para realizar la reserva y pagar la diferencia al momento de retirar el juego.</p>

            <h4>¿Puedo comprar por Internet?</h4>
            <p>Sí, pero debes estar registrado en nuestro sitio.</p>

            <h4>¿Puede retirar un tercero una compra realizada por Internet?</h4>
            <p>Sí, para ello debes enviar un poder simple a través de nuestro sitio web<a href="{% url 'contact' %}">zuzuPlay.cl/contacto.</a>con
                los datos de quién retira.</p>

            <h4>¿Realizan despachos a domicilio?</h4>
            <p>Sí, despachamos a todo Chile vía Blue Express</p>

            <h4>¿Se puede pagar contra entrega o depósito bancario?</h4>
            <p>No, el pago se realiza online, si no se realiza, la compra no es válida.</p>

            <h4>¿Cuál es el valor del despacho?</h4>
            <p>Esto depende del destino final, el tamaño y el peso de los productos comprados. Al momento de realizar la
                compra, podrás ver el valor del despacho.</p>

            <h4>El retiro de una compra online en sucursal zuzuPlay, ¿es gratuito?</h4>
            <p>Sí, esta modalidad de entrega no tiene costo para ti.</p>

            <h4>¿Cuánto tiempo demora el despacho? </h4>
            <p>Al momento de comprar el sistema te indica el tiempo que demorará tu pedido en llegar, dependiendo del
                lugar de despacho.</p>

            <h4>Si compro ahora por Internet, ¿puedo ir a retirar mi producto hoy a la tienda?</h4>
            <p>Sólo en los casos que el sistema lo indique.</p>

            <h4>¿Cuál es el plazo para una devolución de dinero?</h4>
            <p>El plazo es de 15 días hábiles.</p>

            <h4>¿Puede un menor de edad comprar productos en la tienda?</h4>
            <p>Sí, pero debe ir acompañado por un adulto.</p>
        </div>
    </div>
</div>
<!--Pie de pagina-->
<footer>
    <div class="container-fluid">
        <div class="row justify-content-center justify-content-sm-start align-items-center ps-3 pe-3 pt-3 pb-3 gap-3 gap-sm-0 footer-content-container">
            <div class="col-auto col-sm-6">
                <div class="row gap-2 justify-content-center justify-content-sm-start align-items-center">
                    <div class="col-12 col-md-auto text-center text-sm-start">
                        <h4>Síguenos en</h4>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary btn-lg btn-floating" style="background-color: #8083ff;" href="#"
                           role="button">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-6">
                <div class="row gap-3 justify-content-center justify-content-sm-end shortcuts">
                    <div class="col-auto">
                        <a href="{% url 'terms' %}"><h4>Términos y condiciones</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'questions' %}"><h4>Preguntas frecuentes</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'stores' %}"><h4>Nuestras tiendas</h4></a>
                    </div>
                    <div class="col-auto">
                        <a href="{% url 'contact' %}"><h4>Contacto</h4></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto gx-0">
                <img src="{% static 'products/img/footer galaxy.png' %}" class="img-fluid" alt="galaxy">
            </div>
        </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script src="https://kit.fontawesome.com/777d474a1b.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="{% static 'products/js/script.js' %}"></script>
</body>
</html>
